@charset "UTF-8";
/**
 * Get a value from a map, nested or otherwise.
 *
 * Example:
 * get($typography, 'colors', 'red');
 * get($spacing, 'm');
 */
/**
 * Remove units from a number, so we can do maths on it.
 *
 * @param {Number} $number - Number to remove unit from
 * @return {Number} - Unitless number
 */
/**
 * Convert rems to ems.
 * We typically use this to style elements in the editor,
 * which doesn't translate rems properly.
 *
 * @param {String} $value - Value in rems to convert.
 * @return {String} - Value in ems.
 */
/**
 * Convert rems to pixels.
 * We typically use this to style elements in the editor,
 * which doesn't translate rems properly.
 *
 * @param {String} $value - Value in rems to convert.
 * @return {String} - Value in pixels.
 */
/*
 * Colour palettes
 *
 * We try to use colour in a semantic and predicatable way,
 * so we start by defining a palette of colours here, and then
 * we apply those colours to specific use text-transforms.
 *
 * As a general rule, try to avoid calling the colours directly,
 * and instead use the semantic colour variables defined below.
 */
/*
 * Colours
 *
 * We define a number of semantic colour variables here to apply colours
 * in a predictable way. When applying colours to elements, try to use these
 * variables!
 */
/* Spacing
 *
 * We use an 8px grid and size spacing based on 10rem = 1px.
 * This allows spacing to scale with font size whilst maintaining readability.
 * Try to use only the spacing units below for margins and padding.
 */
/* Site structure
 *
 * These are site-wide variables that determine
 * how elements are sized & within the available viewport space.
 */
/* Breakpoints
 *
 * These determine our standard media queries.
 * Chances are we very rarely need this many.
 */
/* Typography
 *
 * These variables determine how typography is applied across the site.
 * Several 'styles' are configurable here to apply typographic treatments
 * to elements based on their semantic intention. (ie, headings, links, etc.)
 * See design-tokens/typography.scss for full implementation.
 * The easiest way to use this is to determine a base size and a scale modifier,
 * and Kelpie will generate a type scale to use, but these values can also be
 * overridden as needed.
 */
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /*
		Many screen reader and browser combinations announce broken words
		as they would appear visually.
	*/ }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#primary[tabindex='-1']:focus {
  outline: 0; }

/* Skip Link --------------------------------- */
.skip-link {
  left: -9999rem;
  top: 0;
  z-index: 999999999; }
  .skip-link:focus {
    font-size: 1.8rem;
    font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.015em;
    line-height: 1.2;
    text-transform: normal;
    background: #181b1c;
    border-bottom: 0.2rem solid;
    box-shadow: none;
    color: #f19dca;
    display: block;
    left: 0;
    padding-bottom: 2.4rem;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    padding-top: 2.4rem;
    right: 0;
    text-align: center;
    width: 100%;
    z-index: 100000; }
    @media only screen and (min-width: 640px) {
      .skip-link:focus {
        font-size: 2.25rem; } }

/* Accessibility Settings -------------------- */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0s !important;
    transition-duration: 0s !important; } }

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2.44em;
  line-height: 1.4;
  margin: 0.67em 0; }

h2 {
  font-size: 1.95em;
  line-height: 1.4; }

h3 {
  font-size: 1.56em;
  line-height: 1.4; }

h4 {
  font-size: 1.25em;
  line-height: 1.5; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 0.8em; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
  font-size: 0.875rem; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0; }

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto; }

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* stylelint-disable */
/* Document
 * ========================================================================== */
/**
 * Add border box sizing in all browsers (opinionated).
 */
*,
::before,
::after {
  box-sizing: border-box; }

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */ }

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Use a 4-space tab width in all browsers (opinionated).
 * 4. Remove the grey highlight on links in iOS (opinionated).
 * 5. Prevent adjustments of font size after orientation changes in
 *    IE on Windows mobile and in iOS.
 * 6. Breaks words to prevent overflow in all browsers (opinionated).
 */
html {
  cursor: default;
  /* 1 */
  line-height: 1.5;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  /* 5 */
  -webkit-text-size-adjust: 100%;
  /* 5 */
  word-break: break-word;
  /* 6 */ }

/* Sections
 * ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0; }

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0; }

/**
 * 1. Add the correct sizing in Firefox.
 * 2. Show the overflow in Edge 18- and IE.
 */
hr {
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * Add the correct display in IE.
 */
main {
  display: block; }

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none;
  padding: 0; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/* Embedded content
 * ========================================================================== */
/*
 * Change the alignment on media elements in all browsers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on iframes in all browsers (opinionated).
 */
iframe {
  border-style: none; }

/**
 * Remove the border on images within links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg:not([fill]) {
  fill: currentColor; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Tabular data
 * ========================================================================== */
/**
 * Collapse border spacing in all browsers (opinionated).
 */
table {
  border-collapse: collapse; }

/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
button,
input,
select {
  margin: 0; }

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */
button {
  overflow: visible;
  /* 1 */
  text-transform: none;
  /* 2 */ }

/**
 * Correct the inability to style buttons in iOS and Safari.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; }

/**
 * 1. Change the inconsistent appearance in all browsers (opinionated).
 * 2. Correct the padding in Firefox.
 */
fieldset {
  border: 1px solid #a0a0a0;
  /* 1 */
  padding: 0.35em 0.75em 0.625em;
  /* 2 */ }

/**
 * Show the overflow in Edge 18- and IE.
 */
input {
  overflow: visible; }

/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none; }

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 * 3. Change the resize direction in all browsers (opinionated).
 */
textarea {
  margin: 0;
  /* 1 */
  overflow: auto;
  /* 2 */
  resize: vertical;
  /* 3 */ }

/**
 * Remove the padding in IE 10-.
 */
[type='checkbox'],
[type='radio'] {
  padding: 0; }

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Remove the additional :invalid styles in Firefox.
 */
:-moz-ui-invalid {
  box-shadow: none; }

/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge 18- and IE.
 */
details {
  display: block; }

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content; }

dialog:not([open]) {
  display: none; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* User interaction
 * ========================================================================== */
/*
 * 1. Remove the tapping delay in IE 10.
 * 2. Remove the tapping delay on clickable elements
      in all browsers (opinionated).
 */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  /* 1 */
  touch-action: manipulation;
  /* 2 */ }

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/* Accessibility
 * ========================================================================== */
/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */
[aria-busy='true'] {
  cursor: progress; }

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */
[aria-controls] {
  cursor: pointer; }

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */
[aria-disabled='true'],
[disabled] {
  cursor: not-allowed; }

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */
[aria-hidden='false'][hidden] {
  display: initial; }

[aria-hidden='false'][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute; }

/*--------------------------------------------------------------
# Structure: set up site structure or globals, if needed.
--------------------------------------------------------------*/
html {
  font-size: 62.5%; }

body {
  background-color: #f8f9fa;
  color: #3b3f45; }

.site-main {
  background-color: #fff;
  max-width: 160rem; }

.site-header,
.site-footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 160rem; }

/*--------------------------------------------------------------
# Used to style inline elements to format text.
--------------------------------------------------------------*/
dfn,
cite,
em,
i {
  font-style: italic; }

address {
  margin: 0 0 1.5em; }

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark,
ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  box-shadow: 0 0.2rem #e33592;
  color: #181b1c; }
  a:hover, a:active {
    box-shadow: 0 0.2rem #00a8b4; }
  a:focus {
    box-shadow: 0 0 0 0.3rem #f19dca;
    outline: 0; }

/* stylint-disable */
/*--------------------------------------------------------------
# Custom reset rules for better development experience.
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object,
img {
  height: auto;
  max-width: 100%; }

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block; }

/* Zero out default browser margins on elements. */
p,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

/* Remove padding from lists. */
ul,
ol {
  padding: 0; }

/* Remove the default text-decoration on links. */
a {
  text-decoration: none; }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft img,
.alignright img,
.alignleft figcaption,
.alignright figcaption {
  max-width: 50%;
  width: 50%; }

.alignleft figcaption {
  clear: left; }

.alignright figcaption {
  clear: right; }

.alignleft img,
.alignleft figcaption {
  float: left;
  margin-right: 1.5em; }

.alignright img,
.alignright figcaption {
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.alignwide {
  max-width: 1070px; }

.alignfull {
  max-width: 100%; }

/*--------------------------------------------------------------
# Colour classes to apply to elements.
--------------------------------------------------------------*/
.has-primary-white-background-color {
  background-color: #fcebf4; }
  .has-primary-white-background-color:not(.has-text-color) {
    color: #6a1844; }

.has-primary-light-background-color {
  background-color: #f19dca; }
  .has-primary-light-background-color:not(.has-text-color) {
    color: #6a1844; }

.has-primary-default-background-color {
  background-color: #e33592; }
  .has-primary-default-background-color:not(.has-text-color) {
    color: #fff; }

.has-primary-dark-background-color {
  background-color: #b32973; }
  .has-primary-dark-background-color:not(.has-text-color) {
    color: #fcebf4; }

.has-primary-black-background-color {
  background-color: #6a1844; }
  .has-primary-black-background-color:not(.has-text-color) {
    color: #fcebf4; }

.has-secondary-white-background-color {
  background-color: #e2f5f6; }
  .has-secondary-white-background-color:not(.has-text-color) {
    color: #004f54; }

.has-secondary-light-background-color {
  background-color: #76d0d6; }
  .has-secondary-light-background-color:not(.has-text-color) {
    color: #004f54; }

.has-secondary-default-background-color {
  background-color: #00a8b4; }
  .has-secondary-default-background-color:not(.has-text-color) {
    color: #181b1c; }

.has-secondary-dark-background-color {
  background-color: #00858e; }
  .has-secondary-dark-background-color:not(.has-text-color) {
    color: #e2f5f6; }

.has-secondary-black-background-color {
  background-color: #004f54; }
  .has-secondary-black-background-color:not(.has-text-color) {
    color: #e2f5f6; }

.has-black-background-color {
  background-color: #181b1c; }
  .has-black-background-color:not(.has-text-color) {
    color: #ebedf0; }

.has-white-background-color {
  background-color: #fff; }
  .has-white-background-color:not(.has-text-color) {
    color: #3b3f45; }

.has-background p,
.has-background h1,
.has-background h2,
.has-background h3,
.has-background h4,
.has-background h5,
.has-background h6 {
  color: inherit; }

.has-background a:not(.wp-block-button__link) {
  color: inherit;
  -webkit-text-decoration-color: currentColor;
          text-decoration-color: currentColor; }
  .has-background a:not(.wp-block-button__link):hover {
    -webkit-text-decoration-color: transparent;
            text-decoration-color: transparent; }

.has-primary-white-color {
  color: #fcebf4; }

.has-primary-light-color {
  color: #f19dca; }

.has-primary-default-color {
  color: #e33592; }

.has-primary-dark-color {
  color: #b32973; }

.has-primary-black-color {
  color: #6a1844; }

.has-secondary-white-color {
  color: #e2f5f6; }

.has-secondary-light-color {
  color: #76d0d6; }

.has-secondary-default-color {
  color: #00a8b4; }

.has-secondary-dark-color {
  color: #00858e; }

.has-secondary-black-color {
  color: #004f54; }

.has-black-color {
  color: #181b1c; }

.has-white-color {
  color: #fff; }

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
.wp-block-buttons {
  margin: 0 auto 2.4rem;
  max-width: 56rem;
  display: flex;
  justify-content: center; }
  .wp-block-buttons.alignwide {
    max-width: 1070px; }
  .wp-block-buttons.alignfull {
    max-width: 100%; }
  .wp-block-buttons.alignleft {
    justify-content: flex-start; }
  .wp-block-buttons.alignright {
    justify-content: flex-end; }

.wp-block-button__link {
  font-size: 1.6rem;
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.015em;
  line-height: 1.2;
  text-transform: normal;
  border: 0;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  outline: none;
  padding: 1.6rem 4.8rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  top: 0;
  transition: all 200ms ease-out; }
  @media only screen and (min-width: 640px) {
    .wp-block-button__link {
      font-size: 1.8rem; } }
  .wp-block-button__link:hover {
    background: #00a8b4; }
  .wp-block-button__link:active {
    background: #00a8b4; }
  .wp-block-button__link:focus {
    box-shadow: 0 0 0 0.3rem #f19dca;
    outline: 0;
    outline: none; }

.wp-block-button__link:not(.has-background) {
  background: #b32973; }

/*--------------------------------------------------------------
## Captions: used for Image, Audio, Video, Gallery blocks.
--------------------------------------------------------------*/
figcaption {
  font-size: 1.42222rem;
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.6;
  margin: 0 auto 2.4rem;
  max-width: 56rem;
  text-align: center; }
  @media only screen and (min-width: 640px) {
    figcaption {
      font-size: 1.44rem; } }
  figcaption.alignwide {
    max-width: 1070px; }
  figcaption.alignfull {
    max-width: 100%; }

/*--------------------------------------------------------------
## Code
--------------------------------------------------------------*/
.wp-block-code {
  margin-left: 14px;
  margin-right: 14px;
  padding: 0.8em 1em; }

@media screen and (min-width: 608px) {
  .wp-block-code {
    margin-left: auto;
    margin-right: auto; } }

/*--------------------------------------------------------------
# Columns block
--------------------------------------------------------------*/
.wp-block-columns {
  margin: 0 auto 2.4rem;
  max-width: 56rem; }
  .wp-block-columns.alignwide {
    max-width: 1070px; }
  .wp-block-columns.alignfull {
    max-width: 100%; }

@media (min-width: 600px) and (max-width: 781px) {
  .wp-block-column {
    flex-basis: calc(50% - 3.2rem) !important; }
  .wp-block-column:nth-child(even) {
    margin-left: 3.2rem; } }

@media (min-width: 782px) {
  .wp-block-column:not(:first-child) {
    margin-left: 6.4rem; } }

/*--------------------------------------------------------------
## Cover
--------------------------------------------------------------*/
.wp-block-cover-text p {
  padding: 1.5em 14px; }

@media screen and (min-width: 608px) {
  .wp-block-cover-text p {
    padding: 1.5em 0; } }

/*--------------------------------------------------------------
## Embeds
--------------------------------------------------------------*/
.wp-block-embed.type-video > .wp-block-embed__wrapper {
  height: 0;
  padding-top: 56.25%;
  position: relative;
  width: 100%; }

.wp-block-embed.type-video > .wp-block-embed__wrapper > iframe {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }

.gallery-columns-2 .gallery-item {
  max-width: 50%; }

.gallery-columns-3 .gallery-item {
  max-width: 33.3333333333%; }

.gallery-columns-4 .gallery-item {
  max-width: 25%; }

.gallery-columns-5 .gallery-item {
  max-width: 20%; }

.gallery-columns-6 .gallery-item {
  max-width: 16.6666666667%; }

.gallery-columns-7 .gallery-item {
  max-width: 14.2857142857%; }

.gallery-columns-8 .gallery-item {
  max-width: 12.5%; }

.gallery-columns-9 .gallery-item {
  max-width: 11.1111111111%; }

.gallery-caption {
  display: block; }

.wp-block-gallery:not(.components-placeholder) {
  margin: 1.5em auto; }

/*--------------------------------------------------------------
# Group block
--------------------------------------------------------------*/
.wp-block-group {
  margin: 0 auto 2.4rem;
  max-width: 56rem;
  margin-bottom: 6.4rem; }
  .wp-block-group.alignwide {
    max-width: 1070px; }
  .wp-block-group.alignfull {
    max-width: 100%; }
  .wp-block-group.has-background {
    padding-bottom: 6.4rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    padding-top: 6.4rem; }
    @media only screen and (min-width: 768px) {
      .wp-block-group.has-background {
        padding: 12.8rem; } }

/*--------------------------------------------------------------
# Headings
--------------------------------------------------------------*/
h1 {
  font-size: 3.24366rem;
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.025em;
  line-height: 1;
  text-transform: normal;
  margin: 0 auto 2.4rem;
  max-width: 56rem; }
  @media only screen and (min-width: 640px) {
    h1 {
      font-size: 6.86646rem; } }

h2 {
  font-size: 2.88325rem;
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.025em;
  line-height: 1.2;
  text-transform: normal;
  margin: 0 auto 2.4rem;
  max-width: 56rem; }
  @media only screen and (min-width: 640px) {
    h2 {
      font-size: 5.49316rem; } }

h3 {
  font-size: 2.56289rem;
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.025em;
  line-height: 1.2;
  text-transform: normal;
  margin: 0 auto 2.4rem;
  max-width: 56rem; }
  @media only screen and (min-width: 640px) {
    h3 {
      font-size: 4.39453rem; } }

h4 {
  font-size: 2.27812rem;
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.025em;
  line-height: 1.2;
  text-transform: normal;
  margin: 0 auto 2.4rem;
  max-width: 56rem; }
  @media only screen and (min-width: 640px) {
    h4 {
      font-size: 3.51562rem; } }

h5 {
  font-size: 2.025rem;
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.015em;
  line-height: 1.2;
  text-transform: normal;
  margin: 0 auto 2.4rem;
  max-width: 56rem; }
  @media only screen and (min-width: 640px) {
    h5 {
      font-size: 2.8125rem; } }

h6 {
  font-size: 1.8rem;
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.015em;
  line-height: 1.2;
  text-transform: normal;
  margin: 0 auto 2.4rem;
  max-width: 56rem; }
  @media only screen and (min-width: 640px) {
    h6 {
      font-size: 2.25rem; } }

p,
ul,
ol {
  /* stylelint-disable scss/selector-no-redundant-nesting-selector */
  /* stylelint-enable scss/selector-no-redundant-nesting-selector */ }
  p + h1,
  p + h2,
  p + h3,
  p + h4,
  p + h5,
  p + h6,
  ul + h1,
  ul + h2,
  ul + h3,
  ul + h4,
  ul + h5,
  ul + h6,
  ol + h1,
  ol + h2,
  ol + h3,
  ol + h4,
  ol + h5,
  ol + h6 {
    margin-top: 4.8rem; }

/*--------------------------------------------------------------
# Image block
--------------------------------------------------------------*/
.wp-block-image {
  margin: 0 auto 2.4rem;
  max-width: 56rem;
  margin-bottom: 3.2rem;
  margin-top: 3.2rem; }
  .wp-block-image.alignwide {
    max-width: 1070px; }
  .wp-block-image.alignfull {
    max-width: 100%; }
  .wp-block-image img {
    display: block; }
  .wp-block-image.alignleft, .wp-block-image.alignright {
    width: 100%; }
  .wp-block-image.alignfull img {
    width: 100vw; }
  .wp-block-image.alignleft img,
  .wp-block-image.alignright img,
  .wp-block-image.alignright figcaption {
    max-width: 100%;
    width: 100%; }

/* Contact info ---------------------------- */
.wp-block-jetpack-contact-info {
  margin: 0 auto 2.4rem;
  max-width: 56rem;
  font-size: 1.8rem;
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.6; }
  .wp-block-jetpack-contact-info.alignwide {
    max-width: 1070px; }
  .wp-block-jetpack-contact-info.alignfull {
    max-width: 100%; }
  @media only screen and (min-width: 640px) {
    .wp-block-jetpack-contact-info {
      font-size: 2.25rem; } }

/* Contact form ---------------------------- */
.contact-form {
  margin: 0 auto 2.4rem;
  max-width: 56rem; }
  .contact-form.alignwide {
    max-width: 1070px; }
  .contact-form.alignfull {
    max-width: 100%; }
  .contact-form .grunion-field-label {
    font-size: 1.42222rem;
    font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.015em;
    line-height: 1.2;
    text-transform: normal;
    display: block;
    margin-bottom: 0.4rem; }
    @media only screen and (min-width: 640px) {
      .contact-form .grunion-field-label {
        font-size: 1.44rem; } }
  .contact-form .grunion-field-label span {
    color: #666c76;
    margin-left: 0.4rem; }
  .contact-form .grunion-field-wrap {
    margin-bottom: 1.6rem; }
  .contact-form input[type='text'],
  .contact-form input[type='email'],
  .contact-form input[type='tel'],
  .contact-form input[type='url'],
  .contact-form textarea {
    font-size: 1.6rem;
    font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.6;
    -webkit-appearance: none;
    border: 2px solid #dee0e5;
    border-radius: 0;
    padding: 0.8rem 0.8rem;
    width: 100%; }
    @media only screen and (min-width: 640px) {
      .contact-form input[type='text'],
      .contact-form input[type='email'],
      .contact-form input[type='tel'],
      .contact-form input[type='url'],
      .contact-form textarea {
        font-size: 1.8rem; } }
    .contact-form input[type='text']:focus,
    .contact-form input[type='email']:focus,
    .contact-form input[type='tel']:focus,
    .contact-form input[type='url']:focus,
    .contact-form textarea:focus {
      box-shadow: 0 0 0 0.3rem #f19dca;
      outline: 0;
      border-color: #b32973; }
  .contact-form textarea {
    height: 16rem; }
  .contact-form .contact-submit {
    text-align: center; }
  .contact-form .pushbutton-wide {
    font-size: 1.6rem;
    font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.015em;
    line-height: 1.2;
    text-transform: normal;
    border: 0;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    outline: none;
    padding: 1.6rem 4.8rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    top: 0;
    transition: all 200ms ease-out;
    background: #b32973;
    margin-left: auto;
    margin-right: auto; }
    @media only screen and (min-width: 640px) {
      .contact-form .pushbutton-wide {
        font-size: 1.8rem; } }
    .contact-form .pushbutton-wide:hover {
      background: #00a8b4; }
    .contact-form .pushbutton-wide:active {
      background: #00a8b4; }
    .contact-form .pushbutton-wide:focus {
      box-shadow: 0 0 0 0.3rem #f19dca;
      outline: 0;
      outline: none; }

/*--------------------------------------------------------------
## Latest Posts
--------------------------------------------------------------*/
ul.wp-block-latest-posts .alignwide,
ul.wp-block-latest-posts .alignfull,
ul.wp-block-latest-posts .is-grid.alignwide,
ul.wp-block-latest-posts .is-grid.alignwide {
  padding: 0 14px; }

/*--------------------------------------------------------------
# Lists
--------------------------------------------------------------*/
ul,
ol {
  font-size: 1.6rem;
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.6;
  margin: 0 auto 2.4rem;
  max-width: 56rem;
  list-style-position: outside; }
  @media only screen and (min-width: 640px) {
    ul,
    ol {
      font-size: 1.8rem; } }
  ul.alignwide,
  ol.alignwide {
    max-width: 1070px; }
  ul.alignfull,
  ol.alignfull {
    max-width: 100%; }
  @media only screen and (max-width: 639px) {
    ul,
    ol {
      margin-left: 1.6rem; } }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-bottom: 0;
    margin-left: 1.6rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  /* stylelint-disable scss/selector-no-redundant-nesting-selector */
  /* stylelint-enable scss/selector-no-redundant-nesting-selector */ }
  h1 + ol,
  h1 + ul,
  h2 + ol,
  h2 + ul,
  h3 + ol,
  h3 + ul,
  h4 + ol,
  h4 + ul,
  h5 + ol,
  h5 + ul,
  h6 + ol,
  h6 + ul {
    margin-top: -0.8rem; }

/*--------------------------------------------------------------
## More
--------------------------------------------------------------*/
.more-link {
  display: inline-block; }

/*--------------------------------------------------------------
# Quotes
--------------------------------------------------------------*/
p,
.wp-block-paragraph {
  font-size: 1.6rem;
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.6;
  margin: 0 auto 2.4rem;
  max-width: 56rem; }
  @media only screen and (min-width: 640px) {
    p,
    .wp-block-paragraph {
      font-size: 1.8rem; } }
  p.alignwide,
  .wp-block-paragraph.alignwide {
    max-width: 1070px; }
  p.alignfull,
  .wp-block-paragraph.alignfull {
    max-width: 100%; }
  p.has-small-font-size,
  .wp-block-paragraph.has-small-font-size {
    font-size: 1.42222rem; }
    @media only screen and (min-width: 640px) {
      p.has-small-font-size,
      .wp-block-paragraph.has-small-font-size {
        font-size: 1.44rem; } }
  p.has-large-font-size,
  .wp-block-paragraph.has-large-font-size {
    font-size: 1.8rem; }
    @media only screen and (min-width: 640px) {
      p.has-large-font-size,
      .wp-block-paragraph.has-large-font-size {
        font-size: 2.25rem; } }

/*--------------------------------------------------------------
# Preformatted and other code-like blocks I never use.
--------------------------------------------------------------*/
.wp-block-preformatted {
  margin: 0 auto 2.4rem;
  max-width: 56rem;
  font-family: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
  line-height: 1.6;
  overflow: auto; }
  .wp-block-preformatted.alignwide {
    max-width: 1070px; }
  .wp-block-preformatted.alignfull {
    max-width: 100%; }

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
  font-size: 0.875rem; }

p > code {
  background: #f3f4f5;
  border-radius: 2px;
  font-size: inherit;
  padding: 2px; }

.wp-block-verse {
  margin: 0 auto 2.4rem;
  max-width: 56rem;
  font-size: 1.6rem;
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.6; }
  .wp-block-verse.alignwide {
    max-width: 1070px; }
  .wp-block-verse.alignfull {
    max-width: 100%; }
  @media only screen and (min-width: 640px) {
    .wp-block-verse {
      font-size: 1.8rem; } }

/*--------------------------------------------------------------
# Blockquotes
--------------------------------------------------------------*/
blockquote,
.wp-block-pullquote,
.wp-block-quote {
  margin: 0 auto 2.4rem;
  max-width: 56rem;
  border: 0;
  padding: 0;
  position: relative; }
  blockquote.alignwide,
  .wp-block-pullquote.alignwide,
  .wp-block-quote.alignwide {
    max-width: 1070px; }
  blockquote.alignfull,
  .wp-block-pullquote.alignfull,
  .wp-block-quote.alignfull {
    max-width: 100%; }
  blockquote::before,
  .wp-block-pullquote::before,
  .wp-block-quote::before {
    color: #666c76;
    content: '“';
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12rem;
    font-weight: bold;
    left: -4rem;
    opacity: 0.15;
    position: absolute;
    top: -4rem;
    z-index: 0; }
  blockquote p,
  .wp-block-pullquote p,
  .wp-block-quote p {
    font-size: 1.8rem;
    font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.6;
    color: #666c76;
    margin-bottom: 1.6rem;
    position: relative;
    z-index: 1; }
    @media only screen and (min-width: 640px) {
      blockquote p,
      .wp-block-pullquote p,
      .wp-block-quote p {
        font-size: 2.25rem; } }
  blockquote cite,
  .wp-block-pullquote cite,
  .wp-block-quote cite {
    font-size: 1.2642rem;
    font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.015em;
    line-height: 1.2;
    text-transform: uppercase; }
    @media only screen and (min-width: 640px) {
      blockquote cite,
      .wp-block-pullquote cite,
      .wp-block-quote cite {
        font-size: 1.152rem; } }

/*--------------------------------------------------------------
## 'Standard' Quote
--------------------------------------------------------------*/
.wp-block-quote.is-large {
  margin: 0 auto 2.4rem;
  max-width: 56rem;
  padding: 0; }
  .wp-block-quote.is-large.alignwide {
    max-width: 1070px; }
  .wp-block-quote.is-large.alignfull {
    max-width: 100%; }
  .wp-block-quote.is-large p {
    font-size: 2.025rem;
    font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.015em;
    line-height: 1.2;
    text-transform: normal; }
    @media only screen and (min-width: 640px) {
      .wp-block-quote.is-large p {
        font-size: 2.8125rem; } }

/*--------------------------------------------------------------
## Pullquote
--------------------------------------------------------------*/
/* stylelint-disable-next-line block-no-empty */
/*--------------------------------------------------------------
## Separator
--------------------------------------------------------------*/
.wp-block-separator {
  margin: 0 auto 2.4rem;
  max-width: 56rem;
  border: 0;
  height: 1px;
  margin: 3em auto;
  padding: 0; }
  .wp-block-separator.alignwide {
    max-width: 1070px; }
  .wp-block-separator.alignfull {
    max-width: 100%; }

/*--------------------------------------------------------------
## Tables
--------------------------------------------------------------*/
table,
.wp-block-table {
  margin: 0 auto 2.4rem;
  max-width: 56rem;
  font-size: 1.42222rem;
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.6;
  overflow-x: auto;
  width: 100%; }
  table.alignwide,
  .wp-block-table.alignwide {
    max-width: 1070px; }
  table.alignfull,
  .wp-block-table.alignfull {
    max-width: 100%; }
  @media only screen and (min-width: 640px) {
    table,
    .wp-block-table {
      font-size: 1.44rem; } }
  table table,
  .wp-block-table table {
    border-collapse: collapse;
    width: 100%; }
  table thead,
  .wp-block-table thead {
    font-size: 1.2642rem;
    font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.015em;
    line-height: 1.2;
    text-transform: uppercase;
    border-bottom: 1px solid #dee0e5;
    text-align: left; }
    @media only screen and (min-width: 640px) {
      table thead,
      .wp-block-table thead {
        font-size: 1.152rem; } }
  table tfoot,
  .wp-block-table tfoot {
    border-top: 1px solid #dee0e5;
    font-weight: bolder; }
  table td,
  table th,
  .wp-block-table td,
  .wp-block-table th {
    padding-bottom: 0.8rem;
    padding-left: 0;
    padding-right: 0.8rem;
    padding-top: 0.8rem; }

/*--------------------------------------------------------------
## Video
--------------------------------------------------------------*/
.wp-block-video video {
  max-width: 580px; }

.wp-block > * {
  margin-bottom: 24px;
  max-width: none; }

.wp-block-group {
  margin-bottom: 64px;
  max-width: none; }
  .wp-block-group.has-background {
    padding-bottom: 64px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 64px; }
    @media only screen and (min-width: 768px) {
      .wp-block-group.has-background {
        padding: 128px; } }
  .wp-block-group .wp-block-group__inner-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 560px; }

.wp-block-button__link {
  font-size: 1.967em;
  margin-bottom: 16px;
  margin-top: 16px;
  padding: 16px 48px; }
  @media only screen and (min-width: 640px) {
    .wp-block-button__link {
      font-size: 2.21288em; } }

.jetpack-submit-button .wp-block-button__link {
  margin-top: 0; }

.jetpack-contact-info-block {
  font-size: 1.6rem;
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.6;
  font-size: 1.967em; }
  @media only screen and (min-width: 640px) {
    .jetpack-contact-info-block {
      font-size: 1.8rem; } }
  @media only screen and (min-width: 640px) {
    .jetpack-contact-info-block {
      font-size: 2.21288em; } }

body {
  background-color: #fff; }

.editor-post-title__block {
  font-size: 1.967em; }
  @media only screen and (min-width: 640px) {
    .editor-post-title__block {
      font-size: 2.21288em; } }

.wp-block-paragraph {
  font-size: 1.967em; }
  @media only screen and (min-width: 640px) {
    .wp-block-paragraph {
      font-size: 2.21288em; } }
  .wp-block-paragraph.has-small-font-size {
    font-size: 1.74844em; }
    @media only screen and (min-width: 640px) {
      .wp-block-paragraph.has-small-font-size {
        font-size: 1.7703em; } }
  .wp-block-paragraph.has-large-font-size {
    font-size: 2.21288em; }
    @media only screen and (min-width: 640px) {
      .wp-block-paragraph.has-large-font-size {
        font-size: 2.76609em; } }

.wp-block > ul,
.wp-block > ol {
  font-size: 1.967em; }
  @media only screen and (min-width: 640px) {
    .wp-block > ul,
    .wp-block > ol {
      font-size: 2.21288em; } }
  .wp-block > ul ul,
  .wp-block > ul ol,
  .wp-block > ol ul,
  .wp-block > ol ol {
    font-size: inherit; }

.wp-block h1 {
  font-size: 3.98767em; }
  @media only screen and (min-width: 640px) {
    .wp-block h1 {
      font-size: 8.44145em; } }

.wp-block h2 {
  font-size: 3.5446em; }
  @media only screen and (min-width: 640px) {
    .wp-block h2 {
      font-size: 6.75316em; } }

.wp-block h3 {
  font-size: 3.15075em; }
  @media only screen and (min-width: 640px) {
    .wp-block h3 {
      font-size: 5.40253em; } }

.wp-block h4 {
  font-size: 2.80067em; }
  @media only screen and (min-width: 640px) {
    .wp-block h4 {
      font-size: 4.32202em; } }

.wp-block h5 {
  font-size: 2.48948em; }
  @media only screen and (min-width: 640px) {
    .wp-block h5 {
      font-size: 3.45762em; } }

.wp-block h6 {
  font-size: 2.21288em; }
  @media only screen and (min-width: 640px) {
    .wp-block h6 {
      font-size: 2.76609em; } }

.wp-block-quote p {
  font-size: 2.21288em; }
  @media only screen and (min-width: 640px) {
    .wp-block-quote p {
      font-size: 2.76609em; } }

.wp-block-quote cite {
  font-size: 1.55417em; }
  @media only screen and (min-width: 640px) {
    .wp-block-quote cite {
      font-size: 1.41624em; } }

.wp-block-quote.is-large p {
  font-size: 2.48948em; }
  @media only screen and (min-width: 640px) {
    .wp-block-quote.is-large p {
      font-size: 3.45762em; } }


/*# sourceMappingURL=style-editor.css.map*/