@charset "UTF-8";
/**
 * Get a value from a map, nested or otherwise.
 *
 * Example:
 * get($typography, 'colors', 'red');
 * get($spacing, 'm');
 */
/**
 * Remove units from a number, so we can do maths on it.
 *
 * @param {Number} $number - Number to remove unit from
 * @return {Number} - Unitless number
 */
/**
 * Convert rems to ems.
 * We typically use this to style elements in the editor,
 * which doesn't translate rems properly.
 *
 * @param {String} $value - Value in rems to convert.
 * @return {String} - Value in ems.
 */
/**
 * Convert rems to pixels.
 * We typically use this to style elements in the editor,
 * which doesn't translate rems properly.
 *
 * @param {String} $value - Value in rems to convert.
 * @return {String} - Value in pixels.
 */
/*
 * Colour palettes
 *
 * We try to use colour in a semantic and predicatable way,
 * so we start by defining a palette of colours here, and then
 * we apply those colours to specific use text-transforms.
 *
 * As a general rule, try to avoid calling the colours directly,
 * and instead use the semantic colour variables defined below.
 */
/*
 * Colours
 *
 * We define a number of semantic colour variables here to apply colours
 * in a predictable way. When applying colours to elements, try to use these
 * variables!
 */
/* Spacing
 *
 * We use an 8px grid and size spacing based on 10rem = 1px.
 * This allows spacing to scale with font size whilst maintaining readability.
 * Try to use only the spacing units below for margins and padding.
 */
/* Site structure
 *
 * These are site-wide variables that determine
 * how elements are sized & within the available viewport space.
 */
/* Breakpoints
 *
 * These determine our standard media queries.
 * Chances are we very rarely need this many.
 */
/* Typography
 *
 * These variables determine how typography is applied across the site.
 * Several 'styles' are configurable here to apply typographic treatments
 * to elements based on their semantic intention. (ie, headings, links, etc.)
 * See design-tokens/typography.scss for full implementation.
 * The easiest way to use this is to determine a base size and a scale modifier,
 * and Kelpie will generate a type scale to use, but these values can also be
 * overridden as needed.
 */
/* stylint-disable */
/*--------------------------------------------------------------
# Custom reset rules for better development experience.
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object,
img {
  height: auto;
  max-width: 100%; }

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block; }

/* Zero out default browser margins on elements. */
p,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

/* Remove padding from lists. */
ul,
ol {
  padding: 0; }

/* Remove the default text-decoration on links. */
a {
  text-decoration: none; }

/*--------------------------------------------------------------
# Structure: set up site structure or globals, if needed.
--------------------------------------------------------------*/
html {
  font-size: 62.5%; }

body {
  background-color: #f8f9fa;
  color: #3b3f45; }

.site-main {
  background-color: #fff;
  max-width: 160rem; }

.site-header,
.site-footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 160rem; }

/*--------------------------------------------------------------
# Used to style inline elements to format text.
--------------------------------------------------------------*/
dfn,
cite,
em,
i {
  font-style: italic; }

address {
  margin: 0 0 1.5em; }

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark,
ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  text-decoration: none; }
  a:focus {
    box-shadow: 0 0 0 0.3rem #f19dca;
    outline: 0; }

.kelpie-page-content a {
  box-shadow: 0 0.2rem #e33592;
  color: #181b1c; }
  .kelpie-page-content a:hover, .kelpie-page-content a:active {
    box-shadow: 0 0.2rem #00a8b4; }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft img,
.alignright img,
.alignleft figcaption,
.alignright figcaption {
  max-width: 50%;
  width: 50%; }

.alignleft figcaption {
  clear: left; }

.alignright figcaption {
  clear: right; }

.alignleft img,
.alignleft figcaption {
  float: left;
  margin-right: 1.5em; }

.alignright img,
.alignright figcaption {
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.alignwide {
  max-width: 104rem; }

.alignfull {
  max-width: 100%; }

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
.wp-block-buttons {
  margin: 0 auto 2.4rem;
  max-width: 56rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .wp-block-buttons.alignwide {
    max-width: 104rem; }
  .wp-block-buttons.alignfull {
    max-width: 100%; }
  .wp-block-buttons.alignleft {
    justify-content: flex-start; }
  .wp-block-buttons.alignright {
    justify-content: flex-end; }

.wp-block-buttons .wp-block-button {
  margin-bottom: 0.8rem;
  margin-left: 0.4rem;
  margin-right: 0.4rem; }

.wp-block-buttons.alignright .wp-block-button {
  margin-left: 0.8rem;
  margin-right: 0; }

.wp-block-buttons.alignleft .wp-block-button {
  margin-left: 0;
  margin-right: 0.8rem; }

.wp-block-button__link,
.kelpie-page-content .wp-block-button__link {
  box-shadow: none;
  font-size: 1.6rem;
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.015em;
  line-height: 1.2;
  text-transform: normal;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  outline: none;
  padding: 1.6rem 4.8rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  top: 0;
  transition: all 200ms ease-out;
  white-space: nowrap; }
  @media only screen and (min-width: 640px) {
    .wp-block-button__link,
    .kelpie-page-content .wp-block-button__link {
      font-size: 1.8rem; } }
  .wp-block-button__link:hover,
  .kelpie-page-content .wp-block-button__link:hover {
    background: #00a8b4; }
  .wp-block-button__link:active,
  .kelpie-page-content .wp-block-button__link:active {
    background: #00a8b4; }
  .wp-block-button__link:focus,
  .kelpie-page-content .wp-block-button__link:focus {
    box-shadow: 0 0 0 0.3rem #f19dca;
    outline: 0;
    outline: none; }
  .wp-block-button__link:hover,
  .kelpie-page-content .wp-block-button__link:hover {
    box-shadow: none; }

.wp-block-button__link:not(.has-background) {
  background: #b32973; }

.wp-block-button__link:not(.has-text-color) {
  color: #fff; }

/*--------------------------------------------------------------
## Captions: used for Image, Audio, Video, Gallery blocks.
--------------------------------------------------------------*/
figcaption {
  font-size: 1.42222rem;
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.6;
  margin: 0 auto 2.4rem;
  max-width: 56rem;
  text-align: center; }
  @media only screen and (min-width: 640px) {
    figcaption {
      font-size: 1.44rem; } }
  figcaption.alignwide {
    max-width: 104rem; }
  figcaption.alignfull {
    max-width: 100%; }

/*--------------------------------------------------------------
## Code
--------------------------------------------------------------*/
.wp-block-code {
  margin-left: 14px;
  margin-right: 14px;
  padding: 0.8em 1em; }

@media screen and (min-width: 608px) {
  .wp-block-code {
    margin-left: auto;
    margin-right: auto; } }

/*--------------------------------------------------------------
# Colour classes to apply to elements.
--------------------------------------------------------------*/
.has-primary-white-background-color {
  background-color: #fcebf4; }
  .has-primary-white-background-color:not(.has-text-color) {
    color: #6a1844; }

.has-primary-light-background-color {
  background-color: #f19dca; }
  .has-primary-light-background-color:not(.has-text-color) {
    color: #6a1844; }

.has-primary-default-background-color {
  background-color: #e33592; }
  .has-primary-default-background-color:not(.has-text-color) {
    color: #fff; }

.has-primary-dark-background-color {
  background-color: #b32973; }
  .has-primary-dark-background-color:not(.has-text-color) {
    color: #fcebf4; }

.has-primary-black-background-color {
  background-color: #6a1844; }
  .has-primary-black-background-color:not(.has-text-color) {
    color: #fcebf4; }

.has-secondary-white-background-color {
  background-color: #e2f5f6; }
  .has-secondary-white-background-color:not(.has-text-color) {
    color: #004f54; }

.has-secondary-light-background-color {
  background-color: #76d0d6; }
  .has-secondary-light-background-color:not(.has-text-color) {
    color: #004f54; }

.has-secondary-default-background-color {
  background-color: #00a8b4; }
  .has-secondary-default-background-color:not(.has-text-color) {
    color: #181b1c; }

.has-secondary-dark-background-color {
  background-color: #00858e; }
  .has-secondary-dark-background-color:not(.has-text-color) {
    color: #e2f5f6; }

.has-secondary-black-background-color {
  background-color: #004f54; }
  .has-secondary-black-background-color:not(.has-text-color) {
    color: #e2f5f6; }

.has-black-background-color {
  background-color: #181b1c; }
  .has-black-background-color:not(.has-text-color) {
    color: #ebedf0; }

.has-white-background-color {
  background-color: #fff; }
  .has-white-background-color:not(.has-text-color) {
    color: #3b3f45; }

.has-background p,
.has-background h1,
.has-background h2,
.has-background h3,
.has-background h4,
.has-background h5,
.has-background h6 {
  color: inherit; }

.has-background a:not(.wp-block-button__link) {
  color: inherit;
  -webkit-text-decoration-color: currentColor;
          text-decoration-color: currentColor; }
  .has-background a:not(.wp-block-button__link):hover {
    -webkit-text-decoration-color: transparent;
            text-decoration-color: transparent; }

.has-primary-white-color {
  color: #fcebf4; }

.has-primary-light-color {
  color: #f19dca; }

.has-primary-default-color {
  color: #e33592; }

.has-primary-dark-color {
  color: #b32973; }

.has-primary-black-color {
  color: #6a1844; }

.has-secondary-white-color {
  color: #e2f5f6; }

.has-secondary-light-color {
  color: #76d0d6; }

.has-secondary-default-color {
  color: #00a8b4; }

.has-secondary-dark-color {
  color: #00858e; }

.has-secondary-black-color {
  color: #004f54; }

.has-black-color {
  color: #181b1c; }

.has-white-color {
  color: #fff; }

/*--------------------------------------------------------------
# Columns block
--------------------------------------------------------------*/
.wp-block-columns {
  margin: 0 auto 2.4rem;
  max-width: 56rem; }
  .wp-block-columns.alignwide {
    max-width: 104rem; }
  .wp-block-columns.alignfull {
    max-width: 100%; }

@media (min-width: 600px) and (max-width: 781px) {
  .wp-block-column {
    flex-basis: calc(50% - 3.2rem) !important; }
  .wp-block-column:nth-child(even) {
    margin-left: 3.2rem; } }

@media (min-width: 782px) {
  .wp-block-column:not(:first-child) {
    margin-left: 6.4rem; } }

/*--------------------------------------------------------------
## Cover
--------------------------------------------------------------*/
.wp-block-cover-text p {
  padding: 1.5em 14px; }

@media screen and (min-width: 608px) {
  .wp-block-cover-text p {
    padding: 1.5em 0; } }

/*--------------------------------------------------------------
## Embeds
--------------------------------------------------------------*/
.wp-block-embed {
  margin: 0 auto 2.4rem;
  max-width: 56rem;
  margin-bottom: 3.2rem;
  margin-top: 3.2rem; }
  .wp-block-embed.alignwide {
    max-width: 104rem; }
  .wp-block-embed.alignfull {
    max-width: 100%; }

.wp-block-embed.type-video > .wp-block-embed__wrapper {
  height: 0;
  padding-top: 56.25%;
  position: relative;
  width: 100%; }

.wp-block-embed.type-video > .wp-block-embed__wrapper > iframe {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }

.gallery-columns-2 .gallery-item {
  max-width: 50%; }

.gallery-columns-3 .gallery-item {
  max-width: 33.3333333333%; }

.gallery-columns-4 .gallery-item {
  max-width: 25%; }

.gallery-columns-5 .gallery-item {
  max-width: 20%; }

.gallery-columns-6 .gallery-item {
  max-width: 16.6666666667%; }

.gallery-columns-7 .gallery-item {
  max-width: 14.2857142857%; }

.gallery-columns-8 .gallery-item {
  max-width: 12.5%; }

.gallery-columns-9 .gallery-item {
  max-width: 11.1111111111%; }

.gallery-caption {
  display: block; }

.wp-block-gallery:not(.components-placeholder) {
  margin: 1.5em auto; }

/*--------------------------------------------------------------
# Group block
--------------------------------------------------------------*/
.wp-block-group {
  margin: 0 auto 2.4rem;
  max-width: 56rem;
  margin-bottom: 6.4rem; }
  .wp-block-group.alignwide {
    max-width: 104rem; }
  .wp-block-group.alignfull {
    max-width: 100%; }
  .wp-block-group.has-background {
    padding-bottom: 6.4rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    padding-top: 6.4rem; }
    @media only screen and (min-width: 768px) {
      .wp-block-group.has-background {
        padding: 12.8rem; } }

/*--------------------------------------------------------------
# Headings
--------------------------------------------------------------*/
h1 {
  font-size: 3.24366rem;
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.025em;
  line-height: 1;
  text-transform: normal;
  margin: 0 auto 2.4rem;
  max-width: 56rem; }
  @media only screen and (min-width: 640px) {
    h1 {
      font-size: 6.86646rem; } }

h2 {
  font-size: 2.88325rem;
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.025em;
  line-height: 1.2;
  text-transform: normal;
  margin: 0 auto 2.4rem;
  max-width: 56rem; }
  @media only screen and (min-width: 640px) {
    h2 {
      font-size: 5.49316rem; } }

h3 {
  font-size: 2.56289rem;
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.025em;
  line-height: 1.2;
  text-transform: normal;
  margin: 0 auto 2.4rem;
  max-width: 56rem; }
  @media only screen and (min-width: 640px) {
    h3 {
      font-size: 4.39453rem; } }

h4 {
  font-size: 2.27812rem;
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.025em;
  line-height: 1.2;
  text-transform: normal;
  margin: 0 auto 2.4rem;
  max-width: 56rem; }
  @media only screen and (min-width: 640px) {
    h4 {
      font-size: 3.51562rem; } }

h5 {
  font-size: 2.025rem;
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.015em;
  line-height: 1.2;
  text-transform: normal;
  margin: 0 auto 2.4rem;
  max-width: 56rem; }
  @media only screen and (min-width: 640px) {
    h5 {
      font-size: 2.8125rem; } }

h6 {
  font-size: 1.8rem;
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.015em;
  line-height: 1.2;
  text-transform: normal;
  margin: 0 auto 2.4rem;
  max-width: 56rem; }
  @media only screen and (min-width: 640px) {
    h6 {
      font-size: 2.25rem; } }

p,
ul,
ol {
  /* stylelint-disable scss/selector-no-redundant-nesting-selector */
  /* stylelint-enable scss/selector-no-redundant-nesting-selector */ }
  p + h1,
  p + h2,
  p + h3,
  p + h4,
  p + h5,
  p + h6,
  ul + h1,
  ul + h2,
  ul + h3,
  ul + h4,
  ul + h5,
  ul + h6,
  ol + h1,
  ol + h2,
  ol + h3,
  ol + h4,
  ol + h5,
  ol + h6 {
    margin-top: 4.8rem; }

/*--------------------------------------------------------------
# Image block
--------------------------------------------------------------*/
.wp-block-image {
  margin: 0 auto 2.4rem;
  max-width: 56rem;
  margin-bottom: 3.2rem;
  margin-top: 3.2rem; }
  .wp-block-image.alignwide {
    max-width: 104rem; }
  .wp-block-image.alignfull {
    max-width: 100%; }
  .wp-block-image img {
    display: block; }
  .wp-block-image.alignleft, .wp-block-image.alignright {
    width: 100%; }
  .wp-block-image.alignfull img {
    width: 100vw; }
  .wp-block-image.alignleft img,
  .wp-block-image.alignright img,
  .wp-block-image.alignright figcaption {
    max-width: 100%;
    width: 100%; }

/* Contact info ---------------------------- */
.wp-block-jetpack-contact-info {
  margin: 0 auto 2.4rem;
  max-width: 56rem;
  font-size: 1.8rem;
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.6; }
  .wp-block-jetpack-contact-info.alignwide {
    max-width: 104rem; }
  .wp-block-jetpack-contact-info.alignfull {
    max-width: 100%; }
  @media only screen and (min-width: 640px) {
    .wp-block-jetpack-contact-info {
      font-size: 2.25rem; } }

/* Contact form ---------------------------- */
.contact-form {
  margin: 0 auto 2.4rem;
  max-width: 56rem; }
  .contact-form.alignwide {
    max-width: 104rem; }
  .contact-form.alignfull {
    max-width: 100%; }
  .contact-form .grunion-field-label {
    font-size: 1.42222rem;
    font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.015em;
    line-height: 1.2;
    text-transform: normal;
    display: block;
    margin-bottom: 0.4rem; }
    @media only screen and (min-width: 640px) {
      .contact-form .grunion-field-label {
        font-size: 1.44rem; } }
  .contact-form .grunion-field-label span {
    color: #666c76;
    margin-left: 0.4rem; }
  .contact-form .grunion-field-wrap {
    margin-bottom: 1.6rem; }
  .contact-form input[type='text'],
  .contact-form input[type='email'],
  .contact-form input[type='tel'],
  .contact-form input[type='url'],
  .contact-form textarea {
    font-size: 1.6rem;
    font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.6;
    -webkit-appearance: none;
    border: 2px solid #dee0e5;
    border-radius: 0;
    padding: 0.8rem 0.8rem;
    width: 100%; }
    @media only screen and (min-width: 640px) {
      .contact-form input[type='text'],
      .contact-form input[type='email'],
      .contact-form input[type='tel'],
      .contact-form input[type='url'],
      .contact-form textarea {
        font-size: 1.8rem; } }
    .contact-form input[type='text']:focus,
    .contact-form input[type='email']:focus,
    .contact-form input[type='tel']:focus,
    .contact-form input[type='url']:focus,
    .contact-form textarea:focus {
      box-shadow: 0 0 0 0.3rem #f19dca;
      outline: 0;
      border-color: #b32973; }
  .contact-form textarea {
    height: 16rem; }
  .contact-form .contact-submit,
  .contact-form .wp-block-jetpack-button {
    text-align: center; }

@media only screen and (min-width: 640px) {
  .grunion-field-width-50-wrap {
    float: left;
    padding-right: 0.8rem;
    width: 50%; }
  .grunion-field-width-50-wrap + .grunion-field-width-50-wrap {
    padding-left: 0.8rem;
    padding-right: 0; } }

/*--------------------------------------------------------------
## Latest Posts
--------------------------------------------------------------*/
ul.wp-block-latest-posts .alignwide,
ul.wp-block-latest-posts .alignfull,
ul.wp-block-latest-posts .is-grid.alignwide,
ul.wp-block-latest-posts .is-grid.alignwide {
  padding: 0 14px; }

/*--------------------------------------------------------------
# Lists
--------------------------------------------------------------*/
ul,
ol {
  font-size: 1.6rem;
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.6;
  margin: 0 auto 2.4rem;
  max-width: 56rem;
  list-style-position: outside; }
  @media only screen and (min-width: 640px) {
    ul,
    ol {
      font-size: 1.8rem; } }
  ul.alignwide,
  ol.alignwide {
    max-width: 104rem; }
  ul.alignfull,
  ol.alignfull {
    max-width: 100%; }
  @media only screen and (max-width: 639px) {
    ul,
    ol {
      margin-left: 1.6rem; } }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-bottom: 0;
    margin-left: 1.6rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  /* stylelint-disable scss/selector-no-redundant-nesting-selector */
  /* stylelint-enable scss/selector-no-redundant-nesting-selector */ }
  h1 + ol,
  h1 + ul,
  h2 + ol,
  h2 + ul,
  h3 + ol,
  h3 + ul,
  h4 + ol,
  h4 + ul,
  h5 + ol,
  h5 + ul,
  h6 + ol,
  h6 + ul {
    margin-top: -0.8rem; }

/*--------------------------------------------------------------
# Media + text block
--------------------------------------------------------------*/
.wp-block-media-text {
  margin: 0 auto 2.4rem;
  max-width: 56rem; }
  .wp-block-media-text.alignwide {
    max-width: 104rem; }
  .wp-block-media-text.alignfull {
    max-width: 100%; }

/*--------------------------------------------------------------
## More
--------------------------------------------------------------*/
.more-link {
  display: inline-block; }

/*--------------------------------------------------------------
# Quotes
--------------------------------------------------------------*/
p,
.wp-block-paragraph {
  font-size: 1.6rem;
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.6;
  margin: 0 auto 2.4rem;
  max-width: 56rem; }
  @media only screen and (min-width: 640px) {
    p,
    .wp-block-paragraph {
      font-size: 1.8rem; } }
  p.alignwide,
  .wp-block-paragraph.alignwide {
    max-width: 104rem; }
  p.alignfull,
  .wp-block-paragraph.alignfull {
    max-width: 100%; }
  p.has-small-font-size,
  .wp-block-paragraph.has-small-font-size {
    font-size: 1.42222rem; }
    @media only screen and (min-width: 640px) {
      p.has-small-font-size,
      .wp-block-paragraph.has-small-font-size {
        font-size: 1.44rem; } }
  p.has-large-font-size,
  .wp-block-paragraph.has-large-font-size {
    font-size: 1.8rem; }
    @media only screen and (min-width: 640px) {
      p.has-large-font-size,
      .wp-block-paragraph.has-large-font-size {
        font-size: 2.25rem; } }

/*--------------------------------------------------------------
# Preformatted and other code-like blocks I never use.
--------------------------------------------------------------*/
.wp-block-preformatted {
  margin: 0 auto 2.4rem;
  max-width: 56rem;
  font-family: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
  line-height: 1.6;
  overflow: auto; }
  .wp-block-preformatted.alignwide {
    max-width: 104rem; }
  .wp-block-preformatted.alignfull {
    max-width: 100%; }

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
  font-size: 0.875rem; }

p > code {
  background: #f3f4f5;
  border-radius: 2px;
  font-size: inherit;
  padding: 2px; }

.wp-block-verse {
  margin: 0 auto 2.4rem;
  max-width: 56rem;
  font-size: 1.6rem;
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.6; }
  .wp-block-verse.alignwide {
    max-width: 104rem; }
  .wp-block-verse.alignfull {
    max-width: 100%; }
  @media only screen and (min-width: 640px) {
    .wp-block-verse {
      font-size: 1.8rem; } }

/*--------------------------------------------------------------
# Blockquotes
--------------------------------------------------------------*/
blockquote,
.wp-block-pullquote,
.wp-block-quote {
  margin: 0 auto 2.4rem;
  max-width: 56rem;
  border: 0;
  padding: 0;
  position: relative; }
  blockquote.alignwide,
  .wp-block-pullquote.alignwide,
  .wp-block-quote.alignwide {
    max-width: 104rem; }
  blockquote.alignfull,
  .wp-block-pullquote.alignfull,
  .wp-block-quote.alignfull {
    max-width: 100%; }
  blockquote::before,
  .wp-block-pullquote::before,
  .wp-block-quote::before {
    color: #666c76;
    content: '“';
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12rem;
    font-weight: bold;
    left: -4rem;
    opacity: 0.15;
    position: absolute;
    top: -4rem;
    z-index: 0; }
  blockquote p,
  .wp-block-pullquote p,
  .wp-block-quote p {
    font-size: 1.8rem;
    font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.6;
    color: #666c76;
    margin-bottom: 1.6rem;
    position: relative;
    z-index: 1; }
    @media only screen and (min-width: 640px) {
      blockquote p,
      .wp-block-pullquote p,
      .wp-block-quote p {
        font-size: 2.25rem; } }
  blockquote cite,
  .wp-block-pullquote cite,
  .wp-block-quote cite {
    font-size: 1.2642rem;
    font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.015em;
    line-height: 1.2;
    text-transform: uppercase; }
    @media only screen and (min-width: 640px) {
      blockquote cite,
      .wp-block-pullquote cite,
      .wp-block-quote cite {
        font-size: 1.152rem; } }

/*--------------------------------------------------------------
## 'Standard' Quote
--------------------------------------------------------------*/
.wp-block-quote.is-large {
  margin: 0 auto 2.4rem;
  max-width: 56rem;
  padding: 0; }
  .wp-block-quote.is-large.alignwide {
    max-width: 104rem; }
  .wp-block-quote.is-large.alignfull {
    max-width: 100%; }
  .wp-block-quote.is-large p {
    font-size: 2.025rem;
    font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.015em;
    line-height: 1.2;
    text-transform: normal; }
    @media only screen and (min-width: 640px) {
      .wp-block-quote.is-large p {
        font-size: 2.8125rem; } }

/*--------------------------------------------------------------
## Pullquote
--------------------------------------------------------------*/
/* stylelint-disable-next-line block-no-empty */
/*--------------------------------------------------------------
## Separator
--------------------------------------------------------------*/
.wp-block-separator {
  margin: 0 auto 2.4rem;
  max-width: 56rem;
  border: 0;
  height: 1px;
  margin: 3em auto;
  padding: 0; }
  .wp-block-separator.alignwide {
    max-width: 104rem; }
  .wp-block-separator.alignfull {
    max-width: 100%; }

/*--------------------------------------------------------------
## Tables
--------------------------------------------------------------*/
table,
.wp-block-table {
  margin: 0 auto 2.4rem;
  max-width: 56rem;
  font-size: 1.42222rem;
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.6;
  overflow-x: auto;
  width: 100%; }
  table.alignwide,
  .wp-block-table.alignwide {
    max-width: 104rem; }
  table.alignfull,
  .wp-block-table.alignfull {
    max-width: 100%; }
  @media only screen and (min-width: 640px) {
    table,
    .wp-block-table {
      font-size: 1.44rem; } }
  table table,
  .wp-block-table table {
    border-collapse: collapse;
    width: 100%; }
  table thead,
  .wp-block-table thead {
    font-size: 1.2642rem;
    font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.015em;
    line-height: 1.2;
    text-transform: uppercase;
    border-bottom: 1px solid #dee0e5;
    text-align: left; }
    @media only screen and (min-width: 640px) {
      table thead,
      .wp-block-table thead {
        font-size: 1.152rem; } }
  table tfoot,
  .wp-block-table tfoot {
    border-top: 1px solid #dee0e5;
    font-weight: bolder; }
  table td,
  table th,
  .wp-block-table td,
  .wp-block-table th {
    padding-bottom: 0.8rem;
    padding-left: 0;
    padding-right: 0.8rem;
    padding-top: 0.8rem; }

/*--------------------------------------------------------------
## Video
--------------------------------------------------------------*/
.wp-block-video video {
  max-width: 580px; }

.wp-block > * {
  margin-bottom: 24px;
  max-width: none; }

.wp-block-group {
  margin-bottom: 64px;
  max-width: none; }
  .wp-block-group.has-background {
    padding-bottom: 64px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 64px; }
    @media only screen and (min-width: 768px) {
      .wp-block-group.has-background {
        padding: 128px; } }
  .wp-block-group .wp-block-group__inner-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 560px; }

.wp-block-button__link {
  font-size: 1.967em;
  margin-bottom: 16px;
  margin-top: 16px;
  padding: 16px 48px; }
  @media only screen and (min-width: 640px) {
    .wp-block-button__link {
      font-size: 2.21288em; } }

.jetpack-submit-button .wp-block-button__link {
  margin-top: 0; }

.jetpack-contact-info-block {
  font-size: 1.6rem;
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.6;
  font-size: 1.967em; }
  @media only screen and (min-width: 640px) {
    .jetpack-contact-info-block {
      font-size: 1.8rem; } }
  @media only screen and (min-width: 640px) {
    .jetpack-contact-info-block {
      font-size: 2.21288em; } }

body {
  background-color: #fff; }

.editor-post-title__block {
  font-size: 1.967em; }
  @media only screen and (min-width: 640px) {
    .editor-post-title__block {
      font-size: 2.21288em; } }

.wp-block-paragraph {
  font-size: 1.967em; }
  @media only screen and (min-width: 640px) {
    .wp-block-paragraph {
      font-size: 2.21288em; } }
  .wp-block-paragraph.has-small-font-size {
    font-size: 1.74844em; }
    @media only screen and (min-width: 640px) {
      .wp-block-paragraph.has-small-font-size {
        font-size: 1.7703em; } }
  .wp-block-paragraph.has-large-font-size {
    font-size: 2.21288em; }
    @media only screen and (min-width: 640px) {
      .wp-block-paragraph.has-large-font-size {
        font-size: 2.76609em; } }

.wp-block > ul,
.wp-block > ol {
  font-size: 1.967em; }
  @media only screen and (min-width: 640px) {
    .wp-block > ul,
    .wp-block > ol {
      font-size: 2.21288em; } }
  .wp-block > ul ul,
  .wp-block > ul ol,
  .wp-block > ol ul,
  .wp-block > ol ol {
    font-size: inherit; }

.wp-block h1 {
  font-size: 3.98767em; }
  @media only screen and (min-width: 640px) {
    .wp-block h1 {
      font-size: 8.44145em; } }

.wp-block h2 {
  font-size: 3.5446em; }
  @media only screen and (min-width: 640px) {
    .wp-block h2 {
      font-size: 6.75316em; } }

.wp-block h3 {
  font-size: 3.15075em; }
  @media only screen and (min-width: 640px) {
    .wp-block h3 {
      font-size: 5.40253em; } }

.wp-block h4 {
  font-size: 2.80067em; }
  @media only screen and (min-width: 640px) {
    .wp-block h4 {
      font-size: 4.32202em; } }

.wp-block h5 {
  font-size: 2.48948em; }
  @media only screen and (min-width: 640px) {
    .wp-block h5 {
      font-size: 3.45762em; } }

.wp-block h6 {
  font-size: 2.21288em; }
  @media only screen and (min-width: 640px) {
    .wp-block h6 {
      font-size: 2.76609em; } }

.wp-block-quote p {
  font-size: 2.21288em; }
  @media only screen and (min-width: 640px) {
    .wp-block-quote p {
      font-size: 2.76609em; } }

.wp-block-quote cite {
  font-size: 1.55417em; }
  @media only screen and (min-width: 640px) {
    .wp-block-quote cite {
      font-size: 1.41624em; } }

.wp-block-quote.is-large p {
  font-size: 2.48948em; }
  @media only screen and (min-width: 640px) {
    .wp-block-quote.is-large p {
      font-size: 3.45762em; } }


/*# sourceMappingURL=style-editor.css.map*/