/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/

.wp-block-buttons {
	@include content-block();
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	&.alignleft {
		justify-content: flex-start;
	}

	&.alignright {
		justify-content: flex-end;
	}
}

// Apply even margins around individual buttons.
.wp-block-buttons .wp-block-button {
	margin-bottom: get($spacing, 'xxs');
	margin-left: get($spacing, 'hairline');
	margin-right: get($spacing, 'hairline');
}

.wp-block-buttons.alignright .wp-block-button {
	margin-left: get($spacing, 'xxs');
	margin-right: 0;
}

.wp-block-buttons.alignleft .wp-block-button {
	margin-left: 0;
	margin-right: get($spacing, 'xxs');
}


// Finally, style the button itself.
.wp-block-button__link,
.kelpie-page-content .wp-block-button__link {
	@include button('none');

	&:hover {
		@include remove-underline();
		color: get($colors, 'text', 'inverse-light');
	}

	&:focus {
		@include focus-ring();
	}
}

.wp-block-button__link:not(.has-background) {
	background: get($colors, 'interactive', 'background');
}

.wp-block-button__link:not(.has-text-color) {
	color: get($colors, 'text', 'inverse-light');
}

.wp-block-button__link.has-text-color:hover {
	color: get($colors, 'text', 'inverse-light') !important;
}

/* Outline style */
.wp-block-button.is-style-outline {
	.wp-block-button__link:not(.has-background) {
		background: transparent;
	}

	.wp-block-button__link:not(.has-text-color) {
		border-color: get($colors, 'interactive', 'background');
		color: get($colors, 'interactive', 'background');
	}

	.wp-block-button__link {
		box-shadow: inset 0 0 0 2px currentColor;

		&:hover {
			background: rgba(get($colors, 'interactive', 'hover'), 0.05);
			color: get($colors, 'interactive', 'hover') !important;
		}
	}
}
