/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/

.wp-block-buttons,
.wp-block-button {
	@include content-block();
	display: flex;
	justify-content: center;

	&.alignleft {
		justify-content: flex-start;
	}

	&.alignright {
		justify-content: flex-end;
	}
}

/* Force a reset by styling the <a> element directly. */
.wp-block-button__link,
.kelpie-page-content .wp-block-button__link  {
	@include button('none');

	&:hover {
		@include remove-underline();
	}
}

.wp-block-button__link:not(.has-background) {
	background: get($colors, 'interactive', 'background');
}

.wp-block-button__link:not(.has-text-color) {
	color: get($colors, 'text', 'inverse-light');
}
