/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/

.wp-block-buttons {
	@include content-block();
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	&.alignleft {
		justify-content: flex-start;
	}

	&.alignright {
		justify-content: flex-end;
	}
}

// Apply even margins around individual buttons.
.wp-block-buttons .wp-block-button {
	margin-bottom: get($spacing, 'xxs');
	margin-right: get($spacing, 'hairline');
	margin-left: get($spacing, 'hairline');
}

.wp-block-buttons.alignright .wp-block-button {
	margin-left: get($spacing, 'xxs');
	margin-right: 0;
}

.wp-block-buttons.alignleft .wp-block-button {
	margin-right: get($spacing, 'xxs');
	margin-left: 0;
}


// Finally, style the button itself.
.wp-block-button__link,
.kelpie-page-content .wp-block-button__link  {
	@include button('none');

	&:hover {
		@include remove-underline();
	}
}

.wp-block-button__link:not(.has-background) {
	background: get($colors, 'interactive', 'background');
}

.wp-block-button__link:not(.has-text-color) {
	color: get($colors, 'text', 'inverse-light');
}
