/*--------------------------------------------------------------
## Code
--------------------------------------------------------------*/
.wp-block-code {
	margin-left: 14px;
	margin-right: 14px;
	padding: 0.8em 1em;
}
@media screen and (min-width: 608px) {

	.wp-block-code {
		margin-left: auto;
		margin-right: auto;
	}
}
