/*--------------------------------------------------------------
## Cover
--------------------------------------------------------------*/

.wp-block-cover {
	@include content-block();
	@include extra-bottom-margin();

	h1, h2, h3, h4, h5, h6,
	p, ul {
		max-width: 70rem;
	}

	.wp-block-cover__inner-container {
		color: inherit;
    	width: 100%;
	}

	a {
		@include underline(currentColor);
		color: inherit;

		&:hover {
			@include remove-underline();
			color: inherit;
		}

		&:focus {
			@include focus-ring();
		}
	}
}
