/*--------------------------------------------------------------
## Embeds
--------------------------------------------------------------*/

.wp-block-embed {
	@include content-block();
	margin-bottom: get($spacing, 'm');
	margin-top: get($spacing, 'm');
}

.wp-block-embed.type-video > .wp-block-embed__wrapper {
	height: 0;
	padding-top: 56.25%;
	position: relative;
	width: 100%;
}

.wp-block-embed.type-video > .wp-block-embed__wrapper > iframe {
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
