/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/

.wp-block-gallery {
	@include content-block;
}

.blocks-gallery-grid {
	display: grid;
	max-width: 100%;
	grid-gap: get($spacing, 's');
	grid-template-columns: repeat(2, 1fr);

	.columns-1 & {
		grid-template-columns: 100%;
	}

	@include media('tablet') {
		.columns-3 & {
			grid-template-columns: repeat(3, 1fr);
		}

		.columns-4 & {
			grid-template-columns: repeat(4, 1fr);
		}
		
		.columns-5 & {
			grid-template-columns: repeat(5, 1fr);
		}

		.columns-6 & {
			grid-template-columns: repeat(6, 1fr);
		}

		.columns-7 & {
			grid-template-columns: repeat(7, 1fr);
		}
		
		.columns-8 & {
			grid-template-columns: repeat(8, 1fr);
		}
	}
}

.wp-block-gallery .blocks-gallery-grid .blocks-gallery-item {
	width: 100%;
	margin: 0;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.wp-block-gallery .blocks-gallery-item figcaption {
	@include typography('interface', 'xs');
	display: block;
	margin-bottom: 0;
	padding: get($spacing, 'xxs');

	@include media('tablet') {
		padding: get($spacing, 'xxs');
	}
}
