/*--------------------------------------------------------------
# Group block
--------------------------------------------------------------*/
.wp-block-group {
	@include content-block();
	margin-bottom: get($spacing, 'xl');
	&.has-background {
		padding-bottom: get($spacing, 'xl');
		padding-left: get($spacing, 'xs');
		padding-right: get($spacing, 'xs');
		padding-top: get($spacing, 'xl');
		@include media('tablet') {
			padding: get($spacing, 'xxl');
		}
	}
}
