/*--------------------------------------------------------------
# Group block
--------------------------------------------------------------*/
.wp-block-group {
	@include content-block();
	margin-bottom: get($spacing, "xl");

	&.has-background {
        padding-left: get($spacing, "s");
        padding-right: get($spacing, "s");
        padding-top: get($spacing, "xl");
        padding-bottom: get($spacing, "xl");

		@include media("tablet") {
			padding: get($spacing, "xxl");
		}
	}
}
