/*--------------------------------------------------------------
# Headings
--------------------------------------------------------------*/
.kelpie-page-content,
.wp-block {
	h1 {
		@include typography( titles );
		margin: 0 auto get( $spacing, 's' );
		max-width: get( $site, 'max-content-width' );
	}

	h2 {
		@include typography( headings, large );
		margin: 0 auto get( $spacing, 's' );
		max-width: get( $site, 'max-content-width' );
	}

	h3 {
		@include typography( headings, medium );
		margin: 0 auto get( $spacing, 's' );
		max-width: get( $site, 'max-content-width' );
	}

	h4 {
		@include typography( headings, small );
		margin: 0 auto get( $spacing, 's' );
		max-width: get( $site, 'max-content-width' );
	}

	h5 {
		@include typography( subtitles, large );
		margin: 0 auto get( $spacing, 's' );
		max-width: get( $site, 'max-content-width' );
	}

	h6 {
		@include typography( subtitles, small );
		margin: 0 auto get( $spacing, 's' );
		max-width: get( $site, 'max-content-width' );
	}

	// Headings that follow a paragraph get a little extra spacing.
	p + h1,
	p + h2,
	p + h3,
	p + h4,
	p + h5,
	p + h6 {
		margin-top: get( $spacing, 'l' );
	}
}
