/*--------------------------------------------------------------
# Headings
--------------------------------------------------------------*/

h1 {
	@include typography('titles');
	margin: 0 auto get($spacing, 's');
	max-width: get($site, 'max-content-width');
}

h2 {
	@include typography('headings', 'l');
	margin: 0 auto get($spacing, 's');
	max-width: get($site, 'max-content-width');
}

h3 {
	@include typography('headings', 'm');
	margin: 0 auto get($spacing, 's');
	max-width: get($site, 'max-content-width');
}

h4 {
	@include typography('headings', 's');
	margin: 0 auto get($spacing, 's');
	max-width: get($site, 'max-content-width');
}

h5 {
	@include typography('subtitles', 'l');
	margin: 0 auto get($spacing, 's');
	max-width: get($site, 'max-content-width');
}

h6 {
	@include typography('subtitles', 's');
	margin: 0 auto get($spacing, 's');
	max-width: get($site, 'max-content-width');
}

// Headings that follow a text block get a little extra spacing.
p,
ul,
ol {

	/* stylelint-disable scss/selector-no-redundant-nesting-selector */
	& + h1,
	& + h2,
	& + h3,
	& + h4,
	& + h5,
	& + h6 {
		margin-top: get($spacing, 'l');
	}
	/* stylelint-enable scss/selector-no-redundant-nesting-selector */
}
