/*--------------------------------------------------------------
# Image block
--------------------------------------------------------------*/

.wp-block-image {
	@include content-block();
	margin-bottom: get($spacing, 'm');
	margin-top: get($spacing, 'm');
	text-align: center;

	img {
		margin-left: auto;
		margin-right: auto;
	}

	a {
		@include remove-underline();
	}

	&.alignleft,
	&.alignright {
		width: 100%;
	}

	&.alignfull img {
		width: 100vw;
	}

	&.alignleft img,
	&.alignright img,
	&.alignright figcaption {
		max-width: 100%;
		width: 100%;
	}
}
