/* Contact info ---------------------------- */
.wp-block-jetpack-contact-info {
	@include content-block();
	@include typography('body', 'l');
}

/* Contact form ---------------------------- */
.contact-form {
	@include content-block();

	.grunion-field-label {
		@include label();
	}

	// 'Required' text.
	.grunion-field-label span {
		color: get($colors, 'text', 'light');
		margin-left: get($spacing, 'hairline');
	}

	.grunion-field-wrap {
		margin-bottom: get($spacing, 'xs');
	}

	input[type='text'],
	input[type='email'],
	input[type='tel'],
	input[type='url'],
	textarea {
		@include textfield();
	}

	textarea {
		height: 16rem;
	}

	.contact-submit,
	.wp-block-jetpack-button {
		text-align: center;
	}
}

// Spacing rules for 50% width fields.
@include media('tablet-small') {
	.grunion-field-width-50-wrap {
		float: left;
		padding-right: get($spacing, 'xxs');
		width: 50%;
	}

	.grunion-field-width-50-wrap + .grunion-field-width-50-wrap {
		padding-left: get($spacing, 'xxs');
		padding-right: 0;
	}
}
