/*--------------------------------------------------------------
# Blockquotes
--------------------------------------------------------------*/

blockquote,
.wp-block-pullquote,
.wp-block-quote {
	@include content-block();
	border: 0;
	padding: 0 get($spacing, 'm');
	position: relative;

	&::before {
		color: get($colors, 'text', 'light');
		content: '“';
		display: block;
		font-family: Georgia, 'Times New Roman', Times, serif;
		font-size: 12rem;
		font-weight: bold;
		left: -4rem;
		opacity: 0.15;
		position: absolute;
		top: -4rem;
		z-index: 0;
	}

	p {
		@include typography('body', 'l');
		color: get($colors, 'text', 'light');
		margin-bottom: get($spacing, 'xs');
		position: relative;
		z-index: 1;
	}

	cite {
		@include typography('metadata', 's');
	}
}

/*--------------------------------------------------------------
## 'Standard' Quote
--------------------------------------------------------------*/

.wp-block-quote {
	&.is-large {
		@include content-block();
		padding: 0; // Reset default styling provided by Gutenberg.

		p {
			@include typography('subtitles', 'l');
		}
	}
}

/*--------------------------------------------------------------
## Pullquote
--------------------------------------------------------------*/

/* stylelint-disable-next-line block-no-empty */
.wp-block-pullquote {
	// TBD...
}
