/*--------------------------------------------------------------
## Separator
--------------------------------------------------------------*/

.wp-block-separator {
  @include content-block();
  margin: 3em auto;
  padding: 0;
  border: 0;
  height: 1px;
}
