/*--------------------------------------------------------------
# Site Footer
--------------------------------------------------------------*/
.site-footer {
	background: get($colors, "layout", "footer-background" );
	color: get($colors, "text", "inverse-light");
	padding: get($site, "padding");
}
