/*--------------------------------------------------------------
# Site Header
--------------------------------------------------------------*/
.site-header {
	background: #000;
	color: #fff;
	padding: get($site, "padding");
	position: relative;
}

// Menu bar (logo + search + menu)
.kelpie-menu-bar {
	align-items: center;
	display: flex;
	justify-content: center;
	text-align: center;
}

body:not(.enable-search-modal) .kelpie-menu-bar {
	justify-content: space-between;
	text-align: left;
}

.site-logo {
	a {
		display: block;
	}

	img {
		max-height: 6rem;
		margin: 0 auto;
		width: auto;
	}
}

.site-title {
	@include typography(headings, medium);
	color: inherit;
	margin: 0;

	a {
		text-decoration: none;
		color: inherit;
		display: block;
	}
}

.site-description {
	@include typography(subtitles, small);
	color: inherit;
	display: none;
	margin: 0;
	opacity: 0.5;
	word-wrap: break-word;
}


/* Search Toggle ----------------------------- */
.search-toggle {
	position: absolute;
	bottom: 0;
	left: 0;
	top: 0;
}

.search-toggle .kelpie-toggle-icon,
.search-toggle svg {
	height: 2.5rem;
	max-width: 2.3rem;
	width: 2.3rem;
}


