// Style content blocks within pages so they're consistently spaced.
@mixin content-block() {
	margin: 0 auto get($spacing, "s");
	max-width: get($site, "max-content-width");

	&.alignwide {
		max-width: 1070px;
	}

	&.alignfull {
		max-width: 100%;
	}
}

