// Style content blocks within pages so they're consistently spaced.
@mixin content-block() {
	margin: 0 auto get($spacing, 's');
	max-width: get($site, 'max-content-width');

	&.alignwide {
		max-width: get($site, 'wide-content-width');;
	}

	&.alignfull {
		max-width: 100%;
	}
}

