// Button styles.
@mixin button($color: default, $style: default, $size: medium) {
	@include remove-underline();
	@include typography(interface, medium);
	border: 0;
	border-radius: 0;
	color: get($colors, 'text', 'inverse-light');
	cursor: pointer;
	display: inline-block;
	margin: 0;
	outline: none;
	padding: get($spacing, 'xs') get($spacing, 'l');
	position: relative;
	text-align: center;
	text-decoration: none;
	top: 0;
	transition: all 200ms ease-out;

	@if $color == 'default' {
		background: get($colors, 'interactive', 'background');
	}

	&:hover {
		background: get($colors, 'interactive', 'hover');
	}

	&:active {
		background: get($colors, 'interactive', 'hover');
	}

	&:focus {
		@include focus-ring();
		outline: none;
	}
}

// Text field styles.
@mixin textfield() {
	@include typography(body);
	-webkit-appearance: none;
	border: 2px solid get($colors, 'borders', 'default');
	border-radius: 0;
	padding: get($spacing, 'xxs') get($spacing, 'xxs');
	width: 100%;

	&:focus {
		@include focus-ring();
		border-color: get($colors, 'interactive', 'background');
	}
}

// Labels for text fields.
@mixin label() {
	@include typography(interface, small);
	display: block;
	margin-bottom: get($spacing, 'hairline');
}

// Style blocks of text or other content within pages so they're consistently sizes and spaced.
@mixin content-block() {
	margin: 0 auto get($spacing, 's');
	max-width: get($site, 'max-content-width');

	&.alignwide {
		max-width: get($site, 'wide-content-width');
	}

	&.alignfull {
		max-width: 100%;
	}
}
