// Button styles.
@mixin button($color: default, $style: default, $size: 'm') {
	@include remove-underline();
	@include typography('interface', 'm');
	border: 0;
	border-radius: 0;
	cursor: pointer;
	display: inline-block;
	margin: 0;
	outline: none;
	padding: get($spacing, 'xs') get($spacing, 'l');
	position: relative;
	text-align: center;
	text-decoration: none;
	top: 0;
	transition: all 200ms ease-out;
	white-space: nowrap;
	width: auto;

	@if $color == 'default' {
		background: get($colors, 'interactive', 'background');
		color: get($colors, 'text', 'inverse-light');
	}

	&:hover {
		background: get($colors, 'interactive', 'hover');
		color: get($colors, 'text', 'inverse-light');
	}

	&:active {
		background: get($colors, 'interactive', 'hover');
	}

	&:focus {
		@include focus-ring();
		outline: none;
	}
}

// Text field styles.
@mixin textfield() {
	@include typography('body');
	-webkit-appearance: none;
	background: get($colors, 'layout', 'content-background');
	border: 2px solid get($colors, 'borders', 'default');
	border-radius: 0;
	color: get($colors, 'text', 'default');
	padding: get($spacing, 'xxs') get($spacing, 'xxs');
	width: 100%;

	&:focus {
		@include focus-ring();
		border-color: get($colors, 'interactive', 'background');
	}
}

// Labels for text fields.
@mixin label() {
	@include typography('interface', 's');
	display: block;
	margin-bottom: get($spacing, 'hairline');
}

// Style blocks of text or other content within pages so they're consistently sizes and spaced.
@mixin content-block() {
	margin: 0 auto get($spacing, 's');
	max-width: get($site, 'max-content-width');

	&.alignwide {
		width: get($site, 'wide-content-width');
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	&.alignfull {
		margin-left: -#{get($site, 'padding')};
		margin-right: -#{get($site, 'padding')};
		max-width: calc(100% + 2 * #{get($site, 'padding')});
	}
}

// Add consistent bottom margins to container and layout blocks.
@mixin extra-bottom-margin() {
	margin-bottom: get($spacing, 'l');

	@include media('tablet-wide') {
		margin-bottom: get($spacing, 'xxl');
	}
}
