// Focus ring, used to indicate focus.
@mixin focus-ring() {
	box-shadow: 0 0 0 0.3rem get($colors, 'interactive', 'focus');
	outline: 0;
}

// A standard link with coloured underline, typically used for text links.
@mixin underline($color: currentColor) {
	box-shadow: 0 0.2rem $color;
}

// Remove underline from link.
@mixin remove-underline() {
	box-shadow: none;
}
