# Local files
.DS_Store
.thumbsdb
.svn
init.sh
templates/*
node_modules
vendor

# Build artifacts
dist/
*.map
themes/kelpie/style.js
themes/kelpie/style-editor.js

# Theme and Plugin handling
#
# Ignore the parent, but explicitly exclude (from ignore)
# any themes or plugins we wish to source control.
#
# example exclusion:
#
# !plugins/jetpack
# !mu-plugins/hello.php
# !themes/twentyseventeen
#
plugins/*


mu-plugins/*
!mu-plugins/mu-autoloader.php
!mu-plugins/wordpress-fieldmanager

themes/*
!themes/kelpie

# Other wp-content exclusions
upgrade/*
uploads/*
