/*--------------------------------------------------------------
# Site Footer
--------------------------------------------------------------*/

.site-footer {
	background: get($colors, 'layout', 'footer-background');
	color: get($colors, 'layout', 'footer-text');
	padding: get($site, 'padding');
}

.footer-social-wrapper {
	margin-bottom: get($spacing, 'm');
	margin-top: get($spacing, 'm');
}

.site-info {
	color: inherit;
	text-align: center;

	a {
		@include subtle-link-underline();
		color: inherit;

		&:hover,
		&:active {
			@include remove-underline();
		}

		&:focus {
			@include focus-ring();
		}
	}

	.footer-copyright {
		@include typography('body', 's');
		margin-bottom: get($spacing, 'hairline');
	}

	.powered-by-wordpress {
		@include typography('body', 's');
		margin-bottom: get($spacing, 'xs');
	}
}

