/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget-area {
	width: 100%;
}

.widget {
	margin-bottom: get($spacing, 'm');
}

.widgettitle,
.widget-title {
	@include typography('metadata', 'l');
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}
