/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget-area {
	width: 25%;
}

.widget {
	margin-bottom: get($spacing, "m");
}

.widgettitle,
.widget-title {

	@include typography( metadata, large );
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}
