// Apply type styles to elements using this mixin.
@mixin typography( $class: body, $size: medium ) {

	@include font-size( $class, $size );
	color: get($typography, $class, "color");
	font-family: get($typography, $class, "font-family");
	font-style: get($typography, $class, "font-style");
	font-weight: get($typography, $class, "weight");
	letter-spacing: get($typography, $class, "letter-spacing");
	line-height: get($typography, $class, "line-height");
	text-transform: get($typography, $class, "text-transform");
}

// Generate font size and line-height.
@mixin font-size( $class: body, $size: medium ) {

	@if $class == body and $size == small {
		font-size: get($typography, "sizes", "s");
	}

	@if $class == body and $size == medium {
		font-size: get($typography, "sizes", "base");
	}

	@if $class == body and $size == large {
		font-size: get($typography, "sizes", "m");
	}

	@if $class == headings and $size == small {
		font-size: get($typography, "sizes", "xl");
	}

	@if $class == headings and $size == medium {
		font-size: get($typography, "sizes", "xxl");
	}

	@if $class == headings and $size == large {
		font-size: get($typography, "sizes", "xxxl");
	}

	@if $class == titles {
		font-size: get($typography, "sizes", "xxxxl");
	}

	@if $class == subtitles and $size == small {
		font-size: get($typography, "sizes", "m");
	}

	@if $class == subtitles and $size == large {
		font-size: get($typography, "sizes", "l");
	}

	@if $class == interface and $size == small {
		font-size: get($typography, "sizes", "s");
	}

	@if $class == interface and $size == medium {
		font-size: get($typography, "sizes", "base");
	}

	@if $class == interface and $size == large {
		font-size: get($typography, "sizes", "m");
	}

	@if $class == metadata and $size == small {
		font-size: get($typography, "sizes", "xs");
	}

	@if $class == metadata and $size == medium {
		font-size: get($typography, "sizes", "s");
	}

	@if $class == metadata and $size == large {
		font-size: get($typography, "sizes", "m");
	}
}

// The editor context is weird, and sizing fonts in rems doesn't work as expected, so we use ems instead, and convert the numbers.

$ems-multiplier: 1.229375em;

@mixin font-size-editor( $class: body, $size: medium ) {

	@if $class == body and $size == medium {
		font-size: strip-unit(get($typography, "sizes", "base")) * $ems-multiplier;
	}

	@if $class == body and $size == small {
		font-size: strip-unit(get($typography, "sizes", "s")) * $ems-multiplier;
	}

	@if $class == body and $size == medium {
		font-size: strip-unit(get($typography, "sizes", "base")) * $ems-multiplier;
	}

	@if $class == body and $size == large {
		font-size: strip-unit(get($typography, "sizes", "m")) * $ems-multiplier;
	}

	@if $class == headings and $size == small {
		font-size: strip-unit(get($typography, "sizes", "xl")) * $ems-multiplier;
	}

	@if $class == headings and $size == medium {
		font-size: strip-unit(get($typography, "sizes", "xxl")) * $ems-multiplier;
	}

	@if $class == headings and $size == large {
		font-size: strip-unit(get($typography, "sizes", "xxxl")) * $ems-multiplier;
	}

	@if $class == titles {
		font-size: strip-unit(get($typography, "sizes", "xxxxl")) * $ems-multiplier;
	}

	@if $class == subtitles and $size == small {
		font-size: strip-unit(get($typography, "sizes", "m")) * $ems-multiplier;
	}

	@if $class == subtitles and $size == large {
		font-size: strip-unit(get($typography, "sizes", "l")) * $ems-multiplier;
	}

	@if $class == interface and $size == small {
		font-size: strip-unit(get($typography, "sizes", "s")) * $ems-multiplier;
	}

	@if $class == interface and $size == medium {
		font-size:
			(strip-unit(get($typography, "sizes", "base")) *
			$ems-multiplier);
	}

	@if $class == interface and $size == large {
		font-size: strip-unit(get($typography, "sizes", "m")) * $ems-multiplier;
	}

	@if $class == metadata and $size == small {
		font-size: strip-unit(get($typography, "sizes", "xs")) * $ems-multiplier;
	}

	@if $class == metadata and $size == medium {
		font-size: strip-unit(get($typography, "sizes", "s")) * $ems-multiplier;
	}

	@if $class == metadata and $size == large {
		font-size: strip-unit(get($typography, "sizes", "m")) * $ems-multiplier;
	}
}
