/* Post taxonomies */
.entry-categories {
    @include typography(metadata, medium);
    margin-bottom: get($spacing, "xxs");

    a {
        text-decoration: none;
    }
}

.entry-tags {
    @include typography(metadata, medium); 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin-bottom: get($spacing, "xxs");
}

.entry-tag {
    padding-top: get($spacing, "hairline");
    padding-left: get($spacing, "hairline");
    padding-right: get($spacing, "hairline");

    a {
        text-decoration: none;
    } 
}

    
