/* Post meta (author, date, comments) */
.kelpie-post-meta {
    list-style-type: none;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.post-author,
.post-date,
.post-comment-link {
    @include typography(metadata, medium);
    padding-left: get($spacing, "xxs");
    padding-right: get($spacing, "xxs");
    margin-bottom: get($spacing, "xxs");
}
