// Use ems for spacing in the editor context.
.wp-block > * {
	margin-bottom: rems-to-pixels(get($spacing, 's'));
	max-width: none;
}

// Adjust spacing of groups.
.wp-block-group {
	margin-bottom: rems-to-pixels(get($spacing, 'xl'));
	max-width: none;

	&.has-background {
		padding-bottom: rems-to-pixels(get($spacing, 'xl'));
		padding-left: rems-to-pixels(get($spacing, 'xs'));
		padding-right: rems-to-pixels(get($spacing, 'xs'));
		padding-top: rems-to-pixels(get($spacing, 'xl'));

		@include media('tablet') {
			padding: rems-to-pixels(get($spacing, 'xxl'));
		}
	}

	.wp-block-group__inner-container {
		margin-left: auto;
		margin-right: auto;
		max-width: rems-to-pixels(get($site, 'max-content-width'));
	}
}

// Buttons.
.wp-block-button__link {
	@include font-size-editor('interface', 'm');
	margin-bottom: rems-to-pixels(get($spacing, 'xs'));
	margin-top: rems-to-pixels(get($spacing, 'xs'));
	padding: rems-to-pixels(get($spacing, 'xs')) rems-to-pixels(get($spacing, 'l'));
}

// Brute-force things a bit for Jetpack's contact form.
.jetpack-submit-button .wp-block-button__link {
	margin-top: 0;
}

// Style contact info block a wee bit.
.jetpack-contact-info-block {
	@include typography();
	@include font-size-editor();
}

// Contact form
.jetpack-contact-form {
	@include typography();
	@include font-size-editor();
}

.jetpack-field-label .required {
	font-size: inherit;
	opacity: 0.6;
}

// Don't get too wild with the padding around the media card.
.wp-block-coblocks-media-card .wp-block-coblocks-row__inner {
	padding: rems-to-pixels(get($spacing, 'm'));

	@include media('deskop') {
		padding: rems-to-pixels(get($spacing, 'l'));
	}
}

.wp-block-cover {
	blockquote,
	.wp-block-pullquote,
	.wp-block-quote {
		margin-bottom: rems-to-pixels(get($spacing, 'xxl'));
		margin-top: rems-to-pixels(get($spacing, 'xxl'));
		padding-bottom: rems-to-pixels(get($spacing, 'xl'));
		padding-top: rems-to-pixels(get($spacing, 'xl'));

		&::before {
			left: rems-to-pixels(-6.4rem);
			top: rems-to-pixels(-2.4rem);
		}

		p {
			margin-bottom: rems-to-pixels(get($spacing, 'm'));
		}
	}
}

.wp-block.alignfull {
	margin-left: rems-to-pixels(-1.6);
	margin-right: rems-to-pixels(-1.6);
	max-width: calc(100% + #{rems-to-pixels(2.6)});
}
