/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
.wp-block-buttons {

	@include content-block();
	display: flex;
	justify-content: center;

	&.alignleft {
		justify-content: flex-start;
	}

	&.alignright {
		justify-content: flex-end;
	}
}

.wp-block-button__link {

	@include button( "none" );
}

.wp-block-button__link:not(.has-background) {
	background: get($colors, "interactive", "background");
}
