/*--------------------------------------------------------------
# List
--------------------------------------------------------------*/
.kelpie-page-content ul,
.kelpie-page-content ol,
.wp-block ul,
.wp-block ol {

	@include typography( body );
	@include content-block();
	list-style-position: outside;

	ul,
	ol {
		margin-bottom: 0;
		margin-left: get($spacing, "xs");
	}
}
