/*--------------------------------------------------------------
## Table
--------------------------------------------------------------*/

.wp-block-table {
	margin-left: 14px;
	margin-right: 14px;
	overflow-x: auto;
	width: calc(100% - 28px);
}

.wp-block-table table {
	border-collapse: collapse;
	width: 100%;
}

.wp-block-table td,
.wp-block-table th {
	padding: 0.5em;
}

@media screen and (min-width: 608px) {

	.wp-block-table {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
}
