/*--------------------------------------------------------------
# List
--------------------------------------------------------------*/
.kelpie-page-content {
	ul,
	ol {
		@include typography( body );
		@include content-block();
		list-style-position: outside;

		ul,
		ol {
			margin-left: get( $spacing, 'xs' );
			margin-bottom: 0;
		}
	}
}
