/* Comment Item ----------------------------- */

// Not sure what these are for just yet.
div.comment:first-of-type {
	margin-top: 3.5rem;
	padding-top: 0;
}

.comments .comments-header + div {
	margin-top: 0;
	padding-top: 0;
}

// Nested comments.
.comment .comment {
	padding-left: 5%;
	border: 1px solid red;
}

// Comment container
.comment {
	margin-bottom: get( $spacing, 'l' );
}

// Comment meta container
.comment-meta {
	margin-bottom: get( $spacing, 's' );
	min-height: 8rem;
	position: relative;
	padding-left: 9.2rem; // To account for avatars!
	display: flex;
	flex-direction: column;
	justify-content: center;

	a {
		color: inherit;
	}
}

// Avatar
.comment-meta .avatar {
	height: 8rem;
	position: absolute;
	left: 0;
	top: 0;
	width: 8rem;
}

// Author name
.comment-author {
	@include typography( metadata, medium );

	a {
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}

// Date posted
.comment-metadata {
	@include typography( subtitles, small );

	a {
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}

// Comment body
.comment-content {
	@include typography( body, medium );
}

// Comment footer
.comment-footer-meta {
	@include typography( metadata, medium );
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	margin: 1.5rem 0 -1rem -1.5rem;
}

.comment-reply-link {
	background-color: get( $colors, 'interactive', 'background' );
	color: get( $colors, 'text', 'inverse' );
	display: block;
	padding: get( $spacing, 'xxs' );
}

.by-post-author {
	padding-left: get( $spacing, 'hairline' );
	display: block;
}
