/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/

.kelpie-comments-wrapper {
	margin: 0 auto get($spacing, "l");
    max-width: get($site, "max-content-width");
}

.comment-reply-title {
	margin: 0 0 4rem 0;
	text-align: center;
}














