/*--------------------------------------------------------------
## Modal site menu (used primarily for mobile devices)
--------------------------------------------------------------*/
// Modal that contains the menu.
.menu-modal {
	background: get($colors, "layout", "modal-menu-background");
	display: none;
	opacity: 0;
	overflow-y: auto;
	overflow-x: hidden;
	position: fixed;
	bottom: 0;
	left: -99999rem;
	right: 99999rem;
	top: 0;
	transition: opacity 0.25s ease-in, left 0s 0.25s, right 0s 0.25s;
	z-index: 99;

	&.show-modal {
		display: flex;
	}

	&.active {
		left: 0;
		opacity: 1;
		right: 0;
		transition: opacity 0.25s ease-out;
	}
}

// Position modal menu to account for the admin bar.
.admin-bar .menu-modal {
	top: 32px;
}

@media (max-width: 782px) {
	.admin-bar .menu-modal {
		top: 46px;
	}
}

// Inner wrapper elements.
.menu-modal-inner {
	background: get($colors, "layout", "site-header");
	display: flex;
	justify-content: stretch;
	overflow: auto;
	-ms-overflow-style: auto;
	width: 100%;
}

.menu-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}

// Adopt header colour for mobile toggles.
.mobile-nav-toggle {
	color: inherit;
}

// "Close menu" toggle
.kelpie-close-nav-toggle-wrapper {
	align-items: center;
	color: get($colors, "layout", "modal-menu-text");
	display: flex;
	height: 8rem;
	justify-content: flex-end;
	padding: get($site, "padding");
}

// Menu within the modal.
.modal-menu {
	position: relative;
	left: calc(50% - 50vw);
	width: 100vw;

	.ancestor-wrapper {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
}

.modal-menu .menu-item {
	@include typography(interface, large);
	border-color: get($colors, "borders", "inverse-dark");
	border-style: solid;
	border-width: 0.1rem 0 0 0;
	display: flex;
	flex-wrap: wrap;
	line-height: 1;
	justify-content: flex-start;
	margin: 0;
	
	&:last-child {
		border-bottom-width: 0.1rem;
	}

	a {
		color: get($colors, "layout", "modal-menu-text");
		display: block;
		padding: get($spacing, "s");
		text-decoration: none;
		width: 100%;

		&:focus,
		&:hover {
			color: get($colors, "interactive", "hover");
			text-decoration: underline;
		}
	}
}

// Current menu item highlighting.
.modal-menu .current-menu-item > .ancestor-wrapper > a,
.modal-menu .current_page_ancestor > .ancestor-wrapper > a {
	text-decoration: underline;
}

// Sub-menu
.sub-menu-toggle {
	border-left: 0.1rem solid get($colors, "borders", "inverse-dark");
	flex-shrink: 0;
	margin: 1rem 0;
	padding: 0 2.5rem;

	svg {
		height: 0.9rem;
		transition: transform 0.15s linear;
		width: 1.5rem;
	}

	&.active svg {
		transform: rotate(180deg);
	}
}

.modal-menu ul {
	display: none;
	margin: 0;
	width: 100%;
}

.modal-menu ul li {
	border-left-width: 1rem;
}


/* Main menu animation ----------------------- */
.menu-wrapper .menu-item {
	position: relative;
}

.menu-wrapper .active {
	display: block;
}

.menu-wrapper.is-toggling {
	pointer-events: none;
}

.menu-wrapper.is-toggling .menu-item {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
}

.menu-wrapper.is-toggling .menu-bottom .social-menu .menu-item {
	width: auto;
}

.menu-wrapper.is-animating .menu-item,
.menu-wrapper.is-animating .toggling-target {
	transition-duration: 250ms;
}

.menu-wrapper.is-animating .menu-item {
	transition-property: transform;
}

.menu-wrapper.is-toggling .toggling-target {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
}

.menu-wrapper.is-toggling .toggling-target.active {
	opacity: 0;
}

.menu-wrapper.is-animating.is-toggling .toggling-target {
	display: block;
	transition-property: opacity;
	opacity: 0;
}

.menu-wrapper.is-animating.is-toggling .toggling-target.active {
	opacity: 1;
}

.menu-wrapper.is-toggling .modal-menu > li:last-child li {
	border-top-color: transparent;
	border-bottom-width: 0.1rem;
}

@media (prefers-reduced-motion: reduce) {

	.menu-wrapper.is-animating .menu-item,
	.menu-wrapper.is-animating .toggling-target {
		transition-duration: 1ms !important;
	}

}

/* Menu Bottom ------------------------------- */

.menu-bottom {
	flex-shrink: 0;
	padding: 4rem 0;
}

.menu-bottom nav {
	width: 100%;
}

.menu-copyright {
	@include typography(body, small);
	display: none;
	margin: 0;
}

.menu-copyright a:focus,
.menu-copyright a:hover {
	text-decoration: underline;
}

.menu-bottom .social-menu {
	justify-content: center;
}
