/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;

	/*
		Many screen reader and browser combinations announce broken words
		as they would appear visually.
	*/
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;

	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#primary[tabindex='-1']:focus {
	outline: 0;
}


/* Skip Link --------------------------------- */
.skip-link {
	left: -9999rem;
	top: 0;
	z-index: 999999999;

	&:focus {
		@include typography('interface', 'l');
		background: get($palette, 'neutral', 'black');
		border-bottom: 0.2rem solid;
		box-shadow: none;
		color: get($colors, 'interactive', 'focus');
		display: block;
		left: 0;
		padding-bottom: get($spacing, 's');
		padding-left: get($spacing, 'm');
		padding-right: get($spacing, 'm');
		padding-top: get($spacing, 's');
		right: 0;
		text-align: center;
		width: 100%;
		z-index: 100000;
	}
}

/* Accessibility Settings -------------------- */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0s !important;
		transition-duration: 0s !important;
	}
}
