/*--------------------------------------------------------------
# Used to style form elements.
--------------------------------------------------------------*/

input,
select,
textarea {
	@include textfield();
}

input[type='checkbox'] {
	-webkit-appearance: checkbox;
	width: auto;
}

input[type='radio'] {
	-webkit-appearance: radio;
	width: auto;
}

label {
	@include label();
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	@include button();
}
