/*--------------------------------------------------------------
# Structure: set up site structure or globals, if needed.
--------------------------------------------------------------*/

html {
	font-size: 62.5%; // Set base font size at 10px for easier measurements in rems.
}

body {
	background-color: get($colors, 'layout', 'page-background');
	color: get($colors, 'text', 'default');
}

.site-main {
	background-color: get($colors, 'layout', 'content-background');
	margin: 0 auto;
	max-width: get($site, 'max-site-width');
	padding: get($site, 'padding');
}

// This is a little hacky and will need some tweaking and/or fine-tuning.
// Aim is to avoid empty whitespace between a full-width block & site footer.
.alignfull:last-child,
.wp-block-embed.alignfull:last-child {
	margin-bottom: -#{get($site, 'padding')};
}

.site-header,
.site-footer {
	margin-left: auto;
	margin-right: auto;
	max-width: get($site, 'max-site-width');
}
