/*--------------------------------------------------------------
# Prev/next navigation on archive pages.
--------------------------------------------------------------*/

.posts-navigation .nav-links {
	display: grid;
	grid-gap: get($spacing, 'm');
	margin: 0 auto get($spacing, 'l');
	max-width: calc(4.8rem + #{get($site, 'max-content-width')});

	@include media('tablet-small') {
		grid-template-columns: 1fr 1fr;
	}

	.nav-previous,
	.nav-next {
		@include typography('metadata', 'medium');
		align-items: center;
		display: flex;

		a {
			color: inherit;
			display: block;

			&:hover,
			&:active {
				color: get($colors, 'interactive', 'hover');
			}

			&:focus {
				@include focus-ring();
			}
		}
	}

	.nav-previous {
		justify-content: flex-start;
		text-align: left;
		width: 100%;
	}

	.nav-next {
		justify-content: flex-end;
		text-align: right;
		width: 100%;
	}
}
