/* Comments Pagination ---------------------------- */
.comments-pagination {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 6rem;
	text-align: center;
}
.comments-pagination.only-next {
	justify-content: flex-end;
}
.comments-pagination .page-numbers {
	display: none;
	text-decoration: none;
}
.comments-pagination .page-numbers:focus,
.comments-pagination .page-numbers:hover {
	text-decoration: underline;
}
.comments-pagination .prev,
.comments-pagination .next {
	display: block;
}
.comments-pagination .prev {
	left: 0;
}
.comments-pagination .next {
	right: 0;
	text-align: right;
}
