/* Post a comment form ---------------------------- */
.comment-respond {
	margin: 0 auto get($spacing, "l");
	max-width: get($site, "max-content-width");
}

// "You are logged in as..." helper text.
.comment-respond .comment-notes,
.comment-respond .logged-in-as {

	@include typography( body, small );

	a {
		color: inherit;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}

// Not sure offhand where or when this shows up, so it may require additional
// styling.
.comment-respond p {

	@include typography( body, small );
	margin-bottom: get($spacing, "s");
	margin-left: auto;
	margin-right: auto;
}

// Cookie consent form.
.comment-form-cookies-consent {
	align-items: baseline;
	display: flex;
}

.comment-respond label {
	display: block;
}

.comment-respond input[type="checkbox"] + label {
	font-size: 1.5rem;
	line-height: 1.25;
}

.comment-respond input[type="text"],
.comment-respond input[type="email"],
.comment-respond textarea {
	margin-bottom: 0;
}

.comment-respond textarea {
	height: 15rem;
}

.comment-respond #submit {
	display: block;
}

// "Comments are closed" text.
.comments-closed {

	@include typography( metadata, medium );
	margin-bottom: get($spacing, "m");
}

/* Post a response to an existing comment, maybe? */
.comment-reply-title small {

	@include typography( body, small );
	display: block;
	white-space: nowrap;
}

.comment-reply-title small a {
	text-decoration: none;

	&:focus,
	&:hover {
		text-decoration: underline;
	}
}
