/* Post a comment form ---------------------------- */
.comment-respond {
	margin: 0 auto get($spacing, 'l');
	max-width: get($site, 'max-content-width');
}

// 'You are logged in as...' helper text.
.comment-respond .comment-notes,
.comment-respond .logged-in-as {
	@include typography('body', 's');

	a {
		color: inherit;

		&:hover {
			@include underline();
		}

		&:focus {
			@include focus-ring();
		}
	}
}

// Not sure offhand where or when this shows up, so it may require additional styling.
.comment-respond p {
	@include typography('body', 's');
	margin-bottom: get($spacing, 's');
	margin-left: auto;
	margin-right: auto;
}

// Cookie consent form.
.comment-form-cookies-consent {
	align-items: baseline;
	display: flex;
}

// Input fields
.comment-respond label {
	@include label();
}

.comment-respond input[type='text'],
.comment-respond input[type='email'],
.comment-respond input[type='url'],
.comment-respond textarea {
	@include textfield();
}

.comment-respond textarea {
	height: 16rem;
}

// 'Save my information' checkbox
.comment-respond input[type='checkbox'] + label {
	padding-left: get($spacing, 'hairline');
}

// Submit button
.comment-respond .submit {
	@include button();
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// 'Comments are closed' text.
.comments-closed {
	@include typography('metadata', 'm');
	margin-bottom: get($spacing, 'm');
	text-align: center;
}

// 'Leave a reply'
.comment-reply-title {
	@include typography('headings', 's');
}

// Reply to an existing comment.
.comment .comment-reply-title {
	margin-top: get($spacing, 's');
}

.comment-reply-title small {
	@include typography('body', 's');
	display: inline-block;
	white-space: nowrap;
}

#cancel-comment-reply-link {
	color: inherit;

	&:hover {
		@include underline();
	}

	&:focus {
		@include focus-ring();
	}
}
