/* Icon Buttons ---------------------------- */
.kelpie-icon-button {
	align-items: center;
	background: transparent;
	border: 0;
	color: get($colors, "text", "inverse-light");
	display: flex;
	height: 2.4rem;
	justify-content: center;
	overflow: visible;
	position: relative;

	svg {
		display: block;
		position: relative;
		z-index: 1;
	}

	path {
		fill: currentColor;
		opacity: 0.8;
	}

	&:hover .kelpie-icon-button-label,
	&:active .kelpie-icon-button-label {
		text-decoration: underline;
	}

	&:focus {
		position: relative;
		outline: 0;
		
		&::before {
			@include focus-ring();
			display: block;
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: -2.4rem;
		}
	}
}

.kelpie-icon-button-label {
	@include typography(interface, small);
	color: inherit;
	position: absolute;
	top: calc(100% + 0.5rem);
	white-space: nowrap;
	width: auto;
	word-break: break-all;
}
