/* Post taxonomies */
.kelpie-post-taxonomies {
	@include typography('metadata', 'm');
	color: get($colors, 'text', 'light');
	display: grid;
	grid-gap: get($spacing, 'xxs');

	a {
		color: inherit;

		&:hover {
			@include underline();
		}

		&:focus {
			@include focus-ring();
		}
	}
}

.entry-tags {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
}

.entry-tag {
	padding-left: get($spacing, 'hairline');
	padding-right: get($spacing, 'hairline');
	padding-top: get($spacing, 'hairline');
}
