/* Post meta (author, date, comments) */
.kelpie-post-meta {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
}

.post-author,
.post-date,
.post-comment-link {
	@include typography('metadata', 'medium');
	color: get($colors, 'text', 'light');
	margin-bottom: get($spacing, 'xxs');
	padding-left: get($spacing, 'xxs');
	padding-right: get($spacing, 'xxs');

	a {
		color: inherit;

		&:hover {
			@include subtle-link-underline();
		}

		&:focus {
			@include focus-ring();
		}
	}
}
