/* Post taxonomies */
.kelpie-post-taxonomies {
    display: grid;
    grid-gap: get($spacing, "xxs");
}

.entry-categories {
    @include typography(metadata, medium);
}

.entry-tags {
    @include typography(metadata, medium); 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

.entry-tag {
    padding-top: get($spacing, "hairline");
    padding-left: get($spacing, "hairline");
    padding-right: get($spacing, "hairline"); 
}

    
