/*--------------------------------------------------------------
# Search form
--------------------------------------------------------------*/

.search-form {
	@include content-block();
	display: flex;
	margin-bottom: get($spacing, 'm');
	text-align: center;
	width: 100%;

	label {
		flex-grow: 1;
		margin-bottom: 0;
		width: 100%;
	}
}

.search-field {
	@include textfield();

	width: 100%;
}

input[type='submit'].search-submit {
	@include button();
	margin-left: -2px; // To put the input + button together.
	padding-bottom: get($spacing, 'xxs');
	padding-top: get($spacing, 'xxs');
}
