/*--------------------------------------------------------------
# Search form
--------------------------------------------------------------*/
.search-form {
	width: 100%;
	display: flex;
	margin-bottom: get( $spacing, 'm' );

	label {
		flex-grow: 1;
	}
}

.search-field {
	@include textfield();
	width: 100%;
}

.search-submit {
	@include button();
	margin-left: -2px; // To put the input + button together.
}
